{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col">

                <!-- <iframe src="https://ruversity.server.paykeeper.ru/form/" style="width:100%; height: 800px; border:0;"></iframe> -->
                
                <!-- =====================HTML Form============================== -->
                <form method='POST' action='https://ruversity.server.paykeeper.ru/create/'>
                    Введите сумму оплаты:
                    <input type='text' name='sum' value='100' /> <br />
                    Введите ID клиента:
                    <input type='text' name='clientid' value='100' /> <br />
                    Введите номер заказа:
                    <input type='text' name='orderid' value='123456' /> <br />
                    Введите название услуги:
                    <input type='text' name='service_name' value='Тестовая оплата' /> <br />
                    <input type='submit' value='Перейти к оплате' />
                </form>
                <!-- ==================End of HTML Form============================ -->




            <p><h5>Правила оплаты <br>
            Политика безопасности</h5>
            </p>
            
        
            <p>
                При оплате заказа банковской картой, обработка платежа (включая ввод номера карты) происходит на защищенной странице
                процессинговой системы, которая прошла международную сертификацию. Это значит, что Ваши конфиденциальные данные
                (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена и
                никто, в том числе наш интернет-магазин, не может получить персональные и банковские данные клиента. При работе с
                карточными данными применяется стандарт защиты информации, разработанный международными платёжными системами Visa и
                Masterсard-Payment Card Industry Data Security Standard (PCI DSS), что обеспечивает безопасную обработку реквизитов
                Банковской карты Держателя. Применяемая технология передачи данных гарантирует безопасность по сделкам с Банковскими
                картами путем использования протоколов Secure Sockets Layer (SSL), Verifiedby Visa, Secure Code,и закрытых банковских
                сетей, имеющих высшую степень защиты.
            </p>
            <p>
                <img src={% static "images/PayKeeperLogo.png" %} alt="Image" width="300" height="200">
            </p>
            

            <p><strong>Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки, возврат
            производится исключительно на ту же банковскую карту, с которой была произведена оплата</strong></p>
            
        </div>


    </div>
</div>
{% endblock %}