{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-4">

                <!-- <iframe src="https://ruversity.server.paykeeper.ru/form/" style="width:100%; height: 800px; border:0;"></iframe> -->
                
    <!-- =====================Paykeeper HTML Form============================== -->
    <form method='POST' action='https://ruversity.server.paykeeper.ru/create/'>

        <div class="label">Приобретаемый курс: {{subject.title}}</div>
        <input type='text' class='form-control' name='service_name' value='{{subject.id}}' hidden/>

        <div class="label">Сумма к оплате в рублях:</div>
        {% if subject.discount_programs == True and discount_time.discount_on == True %}
            <input type='text' class='form-control' name='sum' value='{{subject.price.discount}}'/><br>
        {% else %}
            <input type='text' class='form-control' name='sum' value='{{subject.price.regular}}'/><br>     
        {% endif %}
        <input type='text' class='form-control' name='clientid' value='{{request.user.id}}' hidden />
        <input type='text' class='form-control' name='orderid' value='{{transaction.id}}' hidden />
        <input type='submit' value='Оплатить' class='btn btn-sm btn-block btn-outline-dark'/>
        </form>
        <!-- ==================End of Paykeeper HTML Form============================ -->


        </div>
    </div>

        <div class="row">
            <div class="col">
            <p>
            <h5>Правила оплаты. Политика безопасности</h5>

          
                При оплате заказа банковской картой, обработка платежа (включая ввод номера карты) происходит на защищенной странице
                процессинговой системы, которая прошла международную сертификацию. Это значит, что Ваши конфиденциальные данные
                (реквизиты карты, регистрационные данные и др.) не поступают в интернет-магазин, их обработка полностью защищена и
                никто, в том числе наш интернет-магазин, не может получить персональные и банковские данные клиента. При работе с
                карточными данными применяется стандарт защиты информации, разработанный международными платёжными системами Visa и
                Masterсard-Payment Card Industry Data Security Standard (PCI DSS), что обеспечивает безопасную обработку реквизитов
                Банковской карты Держателя. Применяемая технология передачи данных гарантирует безопасность по сделкам с Банковскими
                картами путем использования протоколов Secure Sockets Layer (SSL), Verifiedby Visa, Secure Code,и закрытых банковских
                сетей, имеющих высшую степень защиты.
            </p>
            <p>
                <img src={% static "images/PayKeeperLogo.png" %} alt="Image" width="300" height="200">
            </p>
            

            <p><strong>Уважаемые Клиенты, информируем Вас о том, что при запросе возврата денежных средств при отказе от покупки, возврат
            производится исключительно на ту же банковскую карту, с которой была произведена оплата</strong></p>
        </div>
        </div>
 
</div>
{% endblock %}