{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <body oncontextmenu="return false;"> -->
<div class="container">


<form action="{% url 'admin_page' %}" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="title"><strong>Введите ID курса</strong></label>
        <input type="number" class='form-control' id="id" name="id">
    </div>

    <div class="row mb-2">
        <!-- <div class="col"><input type="submit" value="Edit" class="btn btn-info btn-block"></div> -->
        <div class="col"><input type="submit" value="Открыть" class='btn btn-sm btn-block btn-outline-dark'>
        </div>
    </div>
</form>


</div>

{% endblock %}