{% extends "base.html" %}
{% block content %}
<div class="hide">



<div class="container">
{{lecture.id}}/{{quiz.id}}

<div class="show_quiz_box">

{% for question in questions %}
<form action="{% url 'reg_answer' quiz.id lecture.id question.id %}" method="POST" id='form_no_button'>
    {% csrf_token %}
<h4>{{question.question}}</h4>
{% for answer in answers %}
    {% if answer.question == question %}


        <input type="radio" id="radioAnswer" name="answer" checked value="{{answer.answer}}">
        <label for="question">{{answer.answer}}</label>
        
    {% endif %}
    
{% endfor %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-2">
        <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark submit_button'>
    </div>
</div>
</form>
{% endfor%}


</div>

</div>
</div>
<script>
    console.log('Script starts')
    const testInput=document.querySelector('#test_input')
    console.log(testInput.value)

    /*const getQuiz = (callback) => {
        const request = new XMLHttpRequest();
        request.addEventListener('readystatechange', () => {
            if (request.readyState === 4 && request.status === 200) {
                const data = JSON.parse(request.responseText)
                callback(undefined, data);
            }
            else if (request.readyState === 4) {
                callback('Could not fetch data', undefined);
            }
        });
        request.open('GET', 'http://127.0.0.1:8000/mycourses/show_quiz/' + testInput.value);
        request.send();
    };

    getQuiz((err, data) => {
        if(err){
            console.log(err);
        }
        else {
            console.log(data)
        }
    });*/
    

    /*fetch ('http://127.0.0.1:8000/mycourses/show_quiz/' + testInput.value)
        .then(response => response.json())
        .then(json => console.log(json))*/



    
        

   const getQuiz = async () => {
        const response = await fetch ('http://127.0.0.1:8000/mycourses/show_quiz/' + testInput.value);
        const data = await response.json();
        return data;
    }


   getQuiz().then(data => {
        console.log (data)
        let keys = Object.keys(data);
        for (let i=0; i <keys.length; i++) {
            console.log(data[keys[i]])
        } 
        let values = Object.values(data);
        for (const val of Object.values(data)) {
            console.log(val)
        } 
    })
    
  


    console.log('Script ends')
</script>

{% endblock %}