{% extends "base.html" %}
{% block content %}
<div class="hide">

<div class="container">
{{lecture.id}}/{{quiz.id}}

<div class="show_quiz_box">

{% for question in questions %}
<form action="{% url 'reg_answer' quiz.id lecture.id question.id %}" method="POST" id='form_no_button'>
    {% csrf_token %}
<h4>{{question.question}}</h4>
{% for answer in answers %}
    {% if answer.question == question %}

        <input type="radio" id="radioAnswer" name="answer" value="{{answer.answer}}" required>
        <label for="question">{{answer.answer}}</label> <br>
        
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col-2">
        <input type="submit" value="Ответить" class='btn btn-sm btn-block btn-outline-dark submit_button'>
    </div>
</div>
<br>
</form>
{% endfor%}


</div>

</div>
</div>
<script>
    console.log('Script starts')
    const testInput=document.querySelector('#test_input')
    console.log(testInput.value)

   const getQuiz = async () => {
        const response = await fetch ('http://127.0.0.1:8000/mycourses/show_quiz/' + testInput.value);
        const data = await response.json();
        return data;
    }

   getQuiz().then(data => {
        console.log (data)
        let keys = Object.keys(data);
        for (let i=0; i <keys.length; i++) {
            console.log(data[keys[i]])
        } 
        let values = Object.values(data);
        for (const val of Object.values(data)) {
            console.log(val)
        } 
    })
    
    console.log('Script ends')
</script>

{% endblock %}