{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="container">

    {% if messages %}
    <div class="alert alert-success alert-dismissible">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

<div class="row">
<div class="card_subject">
<div class="card">
            <div class="card-header" style='min-height:5rem'>
                <h4>{{subject.title}}</h4>
            </div>
        
            <figure>
                <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='card-image-top'>
            </figure>
           

<div class="card-body">
        {% if rating.user != request.user and rating.subject != subject %}
            <!-- ======================Rate the Course============================= -->

   
                    <div class="row">
                        <div class="col">
                    <h5>Пожалуйста, оцените курс</h5>
                        </div>
                    </div>

            <div class="row">
                <div class="col pt-3">
                    <form action="{% url 'rating' subject.id %}">
                        {% csrf_token %}
                        <div class='rating' style="left: 2rem;">
                            <input type="radio" name="rating" value=5 id="rating1">
                            <label for='rating1'></label>
                            <input type="radio" name="rating" value=4 id="rating2">
                            <label for='rating2'></label>
                            <input type="radio" name="rating" value=3 id="rating3">
                            <label for='rating3'></label>
                            <input type="radio" name="rating" value=2 id="rating4">
                            <label for='rating4'></label>
                            <input type="radio" name="rating" value=1 id="rating5">
                            <label for='rating5'></label>
                        </div>
                        <div class="row ">
                            <div class="col mb-2">
                        <!-- <input type="submit" value="Rate" class="btn btn-info btn-block"> -->
                        <input type="submit" value="Оценить" class='btn btn-sm btn-block btn-outline-dark'>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
      

    <!-- ========================Display Rating================================= -->
            {% else %}
            <div class="row">
                <div class="col">
                <strong>Рейтинг: </strong>
                {{subject.av_rating}}
                <div class="stars-outer">
                    <div class="stars-inner" style="width: {{subject.percent}}"></div>
                </div>
                </div>
            </div>
            {% endif %}
  
        <div class="row">
            <div class="col">
                <strong>Покупки:</strong> ({{subject.transactions}})
            </div>
        </div>

        <div class="row">
            <div class="col"><strong>Автор: </strong>{{subject.author.first_name}} {{subject.author.last_name}}</div>
        </div>
        <div class="row">
            <div class="col"><strong>Дата размещения: </strong>{{subject.date_posted}}</div>
        </div>
        <div class="row">
            <div class="col"><strong>Длительность: </strong>{{subject_length_hours}}:{{subject_length_min}}:{{subject_length_sec}}</div>
        </div>
            
            <!-- =============================================================== -->
</div> 
</div>
</div>

<div class="card_menu">
    <div class="card" >
        <div class="card-header" >
            <h4>Содержание</h4>
        </div>

    {% for section in sections %}
      
        <div class="section_1" data-bs-toggle="collapse" data-bs-target='#section{{section.id}}'> 
            <h5> Раздел{{section.enumerator}}: {{section.title}}. Длительность: {{section.length_1}} </h5>
        </div>

            {% for lecture in lectures %}
                {% if lecture.section == section %}
                <div id="section{{section.id}}" class='collapse'>
                    <li class="list-group-item" id='lecture'>
                        <h5>{{lecture.enumerator}}.&nbsp; {{lecture.title}}</h5>

                        {% if lecture.video_file%}
                        <i class="fa-sharp fa-solid fa-circle-play ml-4"></i>&nbsp;&nbsp;
                            <a href="{% url 'video' subject.id lecture.id %}" target="_blank"> Видеофайл. Время: {{lecture.length_1}} </a><br>
                        {% endif %}

                        {% if lecture.quizquestion_set.filter.exists %}
                        <i class="fa-solid fa-list-ul ml-4"></i>&nbsp;&nbsp;
                        <a href="{% url 'open_show_quiz_page' lecture.id%}" target="_blank">Пройдите тест</a> <br>
                        {% endif %}
                        
                        {% for item in lecture.additionalmaterialfile_set.all%}
                        {% if item %}
                    <i class="fa-regular fa-file ml-4"></i>&nbsp;&nbsp;
                    <a href="{{ item.additional_file.url }}" download>Текстовый документ</a>
                    <br>
                        {% endif %}
                        {% endfor %}

                        {% for item in lecture.additionalmateriallink_set.all%}
                        {% if item %}
                    <i class="fa-solid fa-link ml-4"></i>&nbsp;&nbsp;
                    <a href="{{item.url_link }}" target="_blank">Внешняя ссылка</a>
                        {% endif %}
                        {% endfor %}
                    </li>
                </div>
                {% endif %}
            {% endfor%}
    {% endfor %}
    </div> 
</div>

</div>


<div class="row mt-2 ml-auto">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item " role="presentation">
            <button class="nav-link active pl-1 pr-3" id="home-tab" data-bs-toggle="tab" data-bs-target="#reviews" type="button" role="tab" aria-controls="home" aria-selected="true"><div class="menu_font">Отзывы</div></button>
        </li>

        <li class="nav-item " role="presentation">
            <button class="nav-link pl-1 pr-3" id="profile-tab" data-bs-toggle="tab" data-bs-target="#questions" type="button" role="tab" aria-controls="profile" aria-selected="false"><div class="menu_font">Вопросы и Ответы</div></button>
        </li>

        <li class="nav-item " role="presentation">
            <button class="nav-link pl-1 pr-3" id="contact-tab" data-bs-toggle="tab" data-bs-target="#author" type="button" role="tab" aria-controls="contact" aria-selected="false"><div class="menu_font">Автор</div></button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link pl-1 pr-3" id="contact-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="false"><div class="menu_font">О чем курс</div></button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link pl-1 pr-3" id="contact-tab" data-bs-toggle="tab" data-bs-target="#prerequisites" type="button" role="tab" aria-controls="overview" aria-selected="false"><div class="menu_font">Предварительная подготовка</div> </button>
        </li>
    </ul>
    
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="reviews" role="tabpanel"aria-labelledby="home-tab">
            <div class="row mt-3 mb-3">
               
                    {% for item in reviews %}
                    <div class="row">
                       <div class="col-1">
                            {{item.author}}
                        </div>
                        <div class="col-2">
                            {{item.date_posted}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{item.content}}
                        </div>

                        {% for item_1 in ratings %}
                            {%if item.author == item_1.user %}
                                {{item_1.rating}}
                            {% endif %}
                        {% endfor%}

                    {% endfor %}
            </div>
            </div>
        </div>
   

    <div class="tab-pane fade" id="questions" role="tabpanel" aria-labelledby="profile-tab">
        <!-- <div class="row mt-2">
        <div id="box">
        <form action="{% url 'new_question' subject.id%}" method="POST">
            {% csrf_token %}
            <div class="form-row mt-4">
            <div class="col-2">
            <label for="question">Ask Your Question</label>
            </div>
            <div class="col ">
            <input type="text" class='form-control' id="question" name="question" maxlength='50' required><br>
            </div>
            </div>          
            <div class="form-row mt-2">
            <div class="col-2">
            <label for="lecture">Select lecture</label>
            </div>
            <div class="col">
            <select name="lecture" id="lecture" class='form-control' required>
                {% for lecture in lectures %}
                <option value="{{lecture.id}}">{{lecture.title}}</option>
                {% endfor %}
            </select>
            </div>
            </div>    
            <div class="row mt-2">
            <div class="col-2"></div>
            <div class="col">
                                    <input type="submit" value="Create" class="btn btn-info btn-block"> -->
                                    <!-- <button type='submit'>Load</button><br> -->
            <!-- <input type="submit" value="Ask" class="btn btn-sm btn-block btn-outline-dark">
            </form> -->
   
        <div class="row mt-2 mb-2">
            {% for question in questions %}
            <div class="row">
                <div class="col">{{question.date_posted}}</div>
                <div class="col">{{question.author}}</div>
                <div class="col">{{question.content}}</div>
                <div class="col">{{question.lecture.title}}</div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="author" role="tabpanel" aria-labelledby="contact-tab">
            11111111111111111111111
        </div>

    <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <!-- <div class="row">{{subject.description}}</div> -->
            {{subject.description}}
    </div>

        <div class="tab-pane fade" id="prerequisites" role="tabpanel" aria-labelledby="overview-tab">
            <!-- <div class="row"> -->
                {{subject.prerequisite}}
            <!-- </div> -->

        </div>
    </div>
</div>
</div>

{% if review.author != request.user and review.subject != subject %}
<div class="container">
<div class="row mt-3">

    <div class="row">
        <form action="{% url 'review' subject.id %}" method="POST">
            {% csrf_token %}
            <!-- <label for="content"><h5>Make a review, please</h5></label> -->
            <label for="content">
                <h5>Ваше мнение очень важно для нас. Оставьте, пожалуйста, отзыв.</h5>
            </label>
    </div>

    <div class="form-group">
        <!-- <input type="textarea" id="contetnt" name="content" style="width:700px; height:100px;"><br>   -->
        <!-- <input type="textarea" id="contetnt" name="content" rows="10" cols="30"> -->
        <textarea name="content" class='form-control' rows="5" cols="50" required></textarea>
    </div>
    <div class="row p-2">
        <div class="col-2">
            <!-- <input type="submit" value="Post the Review" class='btn btn-sm btn-block btn-outline-dark'> -->
            <input type="submit" value="Отправить" class='btn btn-sm btn-block btn-outline-dark'>
            <!-- <button type='submit'>Load</button><br> -->
        </div>
    </div>
    </form>
</div>
</div>
{% endif %}




{% endblock %}