{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col">
        <h3 class='text-center m-2'>TERMS OF USE</h3>

<h5>1. General Policies</h5>
<p>
Ruversity.com is a portal where individuals & entities, hereinafter to be referred to as the 'Instructors or Instructor'
post educational courses, tests, exams, hereinafter to be referred to as the ‘educational content’ in order that other
individuals and entities hereinafter to be referred to as the ‘Students or Student’ could use the above ‘educational
content’ for learning, career & personal growth and certification.
<p> The above educational content is provided on a
commercial basis or for free depending on conditions determined by Instructors.
</p>
<p>
Instructors & Students hereinafter are referred to as the “Users or User”.
Ruversity.com, hereinafter referred to as the ‘Portal’ grants the Student lifetime access to educational content purchased by the Student.by the Student provided the Student does not violate internal regulations of Ruversity.com & local laws & regulations.
</p>
<p>
Students & Instructors are to have personal accounts to post educational content as Instructors or to have lifetime access to educational content as Students. Users bear complete responsibility for their accounts, including any adverse effects to Ruversity.com or to any third party which may potentially occur due to illegal usage of a user personal account. Users are responsible for safely keeping their credentials.
Users commit not to post any educational content, reviews, questions, answers or images which may somehow offend other Users.
</p>
<p>
Users commit not to post any educational content, reviews, questions, answers or images breaking laws & regulations of the User’s country of residence or country of residence of Ruversity.com.
</p>
<h5>2. Instructors</h5>
<p>
Instructors license the Portal to provide Students with lifetime access to educational content posted by the Instructor at conditions described in paragraph 5 of the present document.
</p>
<p>
Instructors commit not to post educational content which violates laws & regulations of the Instructor’s country of residence or country of residence of Ruversity.com.
Instructors bear full responsibility for knowing such laws, regulations & negative consequences which may occur in case of violation.
</p>
<p>
The Instructor is authorized to post educational content only in case he is the owner of the educational content or the right to post the educational content was granted to him by the owner of the educational content or other person authorized to do so in compliance with laws & regulations of the Instructor’s country of residence.
</p>
<p>
The Instructor is authorized to use registered trademarks only in case he is the owner of the trademark or the right to use the trademark was granted to him by the owner of the trademark or other person authorized to do so in compliance with laws & regulations of the Instructor’s country of residence.
The above paragraph does not prohibit nominative fair use of registered trademarks in case they are used to indicate the subject of the educational content.
</p>
<p>
The Instructor may terminate his or her account at any time. However, the educational content posted by the Instructor remains available for the Students who have purchased such educational content earlier.
</p>
<h5>3. Students</h5>
<p>
Ruversity.com provides Students with lifetime access to educational content at conditions determined together by Instructors & the Portal.
</p>
<p>
Students use the educational content at their own peril & risk. Ruversity.com in no case bears any responsibility for any negative consequences which may occur as a result of using the above educational content.
</p>
<p>
Students commit not to copy, sell, stream, broadcast, rent, share or in any other way transfer their right to watch & use the educational content to any third party provided they do not have a written authorization to do so issued by Ruversity.com.
</p>
<h5>4. Disputes</h5>
<p>
If a person or entity files a complaint stating that the Instructor who has posted some educational content is not authorized to do so, it is the duty of this person to provide necessary & sufficient evidence of the questionable fact.
</p>
<p>
If a person or entity files a complaint stating that the Instructor illegally uses a registered trademark in his educational content, it is the duty of this person to provide necessary & sufficient evidence of the questionable fact.
</p>
<p>
If a person or entity files a complaint stating that the Student uses the educational content against inner regulations of the portal or against local laws & regulations, it is the duty of this person to provide necessary & sufficient evidence of the questionable fact.
</p>
<p>
In all the cases listed in paragraph 4 the portal reserves the right to withdraw the questionable educational content from public access.
</p>
<p>
In case Ruversity.com finds out that some educational content, review, question, answer or image is incompatible with laws & regulations of country of residence of the Instructor or country of residence of Ruversity.com or in case such educational content, review, question, answer or image offends other Users, the portal reserves the right to withdraw such educational content from public access or delete this review, question, answer or image and terminate the account of the User who posted the above content.
</p>
<p>
While determining if the questionable educational content, reviews, questions, answers or images comply with the present document or local laws & regulations the Ruversity.com relies on its own assessment of the above educational content, reviews, questions, answers or images
</p>
<p>
If a person or entity disagrees with the assessment made by the portal it is the duty of this person or entity to provide necessary & sufficient evidence of his opinion.
</p>
<h5>5. Pricing & payments.</h5>
<p>Ruversity.com is authorized to set prices for educational content as described below.</p>
<p>
Effective as of 2021/01/01 the base price for a course of educational content is 99.99 USD.
Effective as of 2021/01/01 the discount prices of a course may fluctuate from 9.99USD to 99.99USD. The final discount price is set by the portal depending on the market conditions at a certain time & place.
The Instructor may post his educational content at free access.
</p>
<p>
The Instructor’s share is 60% of the sum received from the Student.
</p>
<p>
The money is transferred to the account indicated by the Instructor. As of 2021/01/01 depending on the laws &
regulations of the Instructor’s county of residences the money may be transferred to the Instructor’s:
<ul>
• Paypal account;<br>
• Credit or debit card;<br>
• Bank account.
</ul>
Payment is executed within 10 business days since the end of the month in which the corresponding payment was received
from the Student.
Payments are made in USD. The Instructor bears all risks of currency conversion loss.
</p>
<h5>6. Responsibility.</h5>
<p>
Ruversity.com makes every effort to provide Users with full access to the educational content except for site
maintenance time.
The portal bears no responsibility in case such access is limited of blocked through the fault of third parties.
</p>
<h5>7. Changes to the agreement.</h5>
<p>
Any changes to the present agreement become effective in 30 days after the moment they are published at Ruversity.com.
Every time a change to the present agreement is published at Ruversity.com, all the Students & Instructors are notified
via emails.
The portal bears no responsibility in case the Instructor or the Student fails to receive a corresponding email message
due to the fault of third parties.
</p>
<h5>8. Miscellaneous.</h5>
<p>
The original document is written in English. Translations to other languages are valid. However, in case of divergence
in translations, the English version will prevail.
</p>
</div>

</div>

<div class="row p-3 center">
    <div class="col">
<a href="{% url 'disagree' subject.id%}">
    <!-- <input type="submit" value="I Disagree" class="btn btn-info btn-block"> -->
    <input type="submit" value="I Disagree" class='btn btn-sm btn-block btn-outline-dark'>
</a>
    </div>
<div class="col">
<a href="{% url 'agree' subject.id%}">
    <!-- <input type="submit" value=" I Agree" class="btn btn-info btn-block"> -->
    <input type="submit" value=" I Agree" class='btn btn-sm btn-block btn-outline-dark'>
</a>
</div>

</div>
</div>
{% endblock %}