{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row mt-3">
    <div class="col-6">
    
      <div class="row m-auto"><div class="col-12">
        <h2>{{author.first_name}} {{author.last_name}}</h2>
      </div></div>
      
    <p>
    <div class="row m-auto">
        <div class="col-12">
        {{author.background}}
      </div>
    </div>
    </p>
      <!-- Author info change button -->
<!-- ==================================================== -->
    {% if author.user == request.user %}

    <!-- ================= Modal =========================== -->
    <p>
    <div class="row m-auto ">
      <div class="col-12">
      <button class="btn btn-sm btn-block btn-outline-dark" data-bs-toggle='modal' data-bs-target='#edit_author_modal'>Редактировать</button>
      </div>
    </div>
    </p>
      <div class="modal" id='edit_author_modal'>
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class='modal-title'>Редактировать</h3>
              <button class="close" data-bs-dismiss='modal'>&times;</button>
            </div>

          <div class="modal-body">
          <div class="row">
            <div class="col-12 m-auto">

                <form action="{% url 'edit_author_page' request.user.id %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                
                  <div class="form-row">
                    <div class="col-3">
                      <label for="description">Редактировать вашу проф. подготовку</label>
                    </div>
                    <div class="col">
                      <textarea class='form-control' id="background" rows='3' minlength='180' maxlength='360' name="background" required
                        value = '{{author.background}}'></textarea>
                    </div>
                  </div>
                
                
                  <div class="form-row mt-2">
                    <div class="col-3">
                      <label for="photo">Редактировать фото</label>
                    </div>
                    <div class="col">
                      <p>
                        Загрузите ваше фото в одном из следующих форматов: 'jpg' 'jpeg' 'png' 'bmp'. Фотография должна быть квадратной с соотношением сторон 1 х 1;
                        <!-- Load your photo. The image must be square with aspect ratio of 1. The file must be of 'jpg', 'jpeg', 'png' or 'bmp' format. -->
                      </p>
                      <input type="file" id="photo" class='form-control' name="photo" required>
                    </div>
                  </div>
                </div>
              </div>
              </div>

              <div class="modal-footer">
                        <!-- <div class="form-row justify-content-start "> -->
                          <div class="col-9">
                            <input type="submit" value="Отправить" class="btn btn-md btn-block btn-outline-dark">
                          </div>
                <!-- <button class='btn btn-outline-dark' data-dismiss="modal">Close</button> -->
              </div>
              
              </form>
          </div>
          </div>
      </div>
 
    {% endif %}
    </div>
<!-- ========================Instructor Image =================================        -->
    <div class="col-6">
      {% if author.photo %}
        <!-- <figure class="image is-1by1"> -->
          <img src="{{author.photo.url}}" alt="Placeholder image" class='rounded-circle mx-auto d-block author_photo' style='width: 15rem;' >
        <!-- </figure> -->
      {% else %}
      no photo
      {% endif %}
    </div>   
</div>
<div class="row mt-2 mb-3">
  {% for subject in subjects%}
      <div class="col-sm-3">
        <div class="card mb-3 img_scale" style="border-color: transparent;">
          <!-- <div class="p-2"> -->
          <div class="card-header" style='height:4rem'>
            <h5>{{subject.title}}</h5>
          </div>
      
          <a href="{% url 'subject' subject.id %}">
            <!-- <figure class="image is-4by3"> -->
            <figure class="image is-16by9">
              <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='rounded-2 img-fluid'>
              <!-- <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image"  class='card-image-top' style='width:18rem; height: 10rem;'> -->
            </figure>
          </a>
          <div class="card-body">
            <!-- <div class="media ml-1">
                              <p class="title is-6" style="height:10px">{{subject.title}}</p>
                          </div> -->
            <div class="row">
              <div class="col"><strong>Автор: </strong>
                {{subject.author.first_name}} {{subject.author.last_name}}
              </div>
            </div>
            <div class="row">
              <div class="col"><strong>Дата размещения: <br> </strong>{{subject.date_posted}}</div>
            </div>
      
            <div class="row">
              <div class="col">
                <strong>
                  Рейтинг:
                </strong> {{subject.av_rating}}
                <div class="stars-outer">
                  <div class="stars-inner" style="width: {{subject.percent}}"></div>
                </div>
              </div>
            </div>
      
            <div class="row">
              <div class="col">
                <strong>Покупки:</strong> {{subject.transactions}}
              </div>
            </div>
            {% if subject.discount_programs == True and discount_time.discount_on == True %}
            <div class="row">
              <div class="col">
                <strong>Стоимость:</strong> {{subject.price.discount}} руб.
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col">
                <strong>Стоимость:</strong> {{subject.price.regular}} руб.
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
  {% endfor %}
</div>

    



</div>

{% endblock %}