{% extends "base.html" %}
{% block content %}

<div class="container mt-2">
<div class="row">
<div class="col-12 border rounded p-3">
    
            <form action="{% url 'create_new_subject' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="form-row">
                    <div class="col-3">
                <label for="title">Название</label>
                    </div>
                    <div class="col ">
                <input type="text" class='form-control' id="title" name="title" maxlength='50' required placeholder="Введите название курса. Не более 50 символов."><br>
                    </div>
            </div>

            <div class="form-row">
                <div class="col-3">
                    <label for="description" >Описание</label>
                </div>
                <div class="col">
                    <textarea class='form-control' id="description" rows='4' minlength='160' maxlength='360' name="description" required placeholder='Введите краткое описание курса. 160-360 символов.'></textarea>
                </div>
               
            </div>

        <div class="form-row mt-4">
            <div class="col-3">
                    <label for="prerequisite">Необходимая подготовка</label>
                </div>
                <div class="col">
                    <textarea class='form-control' rows='4' id="prerequisite" minlength='160'  maxlength='360' name="prerequisite" required placeholder='Введите требования к предварительной подготовке. 160-360 символов.'></textarea>
                </div>
        </div>

            <div class="form-row mt-4">
                <div class="col-3">
                <label for="thumbnail_file">Картинка</label>
            </div>
            <div class="col">
                <p>
                Загрузите обложку для вашего курса в формате jpg, jpeg, png или bmp. Минимальный размер изображения 750x422 пикселя. Соотношение сторон 16x9. Вы можете использовать изображения, находящиеся в свободном доступе, но мы рекомедуем заказть обложку у веб дизайнера.
                <!-- Load a thumbnail file in jpg, jpeg, png or bmp format. Minimum required dimensions: 750 x 422 pixels. Always keep aspect ratio of 16 by 9. You may use stock images but we recommend you hire a professional web designer to create an image for your thumbnail. -->
                </p>
                <input type="file" id="thumbnail_file" class='form-control' name="thumbnail_file" required><br>
            </div>
            </div>

            <div class="form-row">
                <div class="col-3">
                <label for="category">Категория</label>
            </div>
            <div class="col">
                <select name="category" id="category" class='form-control' required>
                {% for item in categories %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select>
            </div>
            </div>

            <div class="form-row mt-4">
                <div class="col-3">
                <label for="language">Язык</label>
                </div>
            <div class="col">
                <select name="language" id="language" class='form-control' required >
                    {% for item in languages %}
                    <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            </div> 
              
            <div class="row mt-4">
                <div class="col-3"></div>
            <div class="col">
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block"> -->
                <!-- <button type='submit'>Load</button><br> -->
                <input type="submit" value="Создать" class="btn btn-sm btn-block btn-outline-dark">
            </div>
            </div>
            </form>
        </div>
    </div>

</div>
</div>
</div>
{% endblock %}