{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="row m-auto">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Редактирование курса</a></li>
                <li class="breadcrumb-item"><a href="{% url 'sections' subject.id %}">Разделы</a></li>

                <li class="breadcrumb-item active" aria-current="page">Лекция</li>
            </ol>
        </nav>
    </div>

        <div class='editLectureBox'>
            <div class="row m-auto">
                <div class="col-11"><h5>Лекция: {{lecture.title}}</h5></div>
                <div class="col-1">
                <a href="{%url 'sections' subject.id%}" style="text-decoration: none; color: black">
                <h1 class="closeCross">&times;</h1>
                </a>
                </div>
               
            </div>
            <hr>
         
            <div class="row m-auto">
                <h5>Выберите тип наполнения лекции: <i class="fa-solid fa-folder-open"></i> </h5>
                {% if lecture.video_file%}
                <div class="row m-auto">
                Видеофайл: {{lecture.video_file}}
                </div>
                {% endif %}
                {%  if lecture.quizquestion_set.filter.exists %}
                <div class="row m-auto">
                    <a href="{% url 'quiz_creation' lecture.id %}">
                        Тесты
                    </a>
                </div>
                {% endif %}
                {% if lecture.additionalmaterialfile_set.filter.exists %}
               
                    {% for item in lecture.additionalmaterialfile_set.all%}
                    <div class="row m-auto">
                 
                    Текстовый файл/ы:
                    <a class="nav-link" href="{{ item.additional_file.url }}" download>
                        {{item.additional_file}}
                    </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
            <div class="row m-auto pb-2">
                <div class="col-3">
                    <input type="button" value="Видеофайл" class="btn btn-sm btn-block btn-outline-dark videoFileButton">
                </div>
                <div class="col-3">
                    <a href="{% url 'quiz_creation' lecture.id%}" style="text-decoration: none">
                        <input type="button" value="Тест" id="test" class="btn btn-sm btn-block btn-outline-dark">
                    </a>
                </div>
                <div class="col-3">
                    <input type="button" value="Текстовый файл" id="text" class="btn btn-sm btn-block btn-outline-dark text_button">
                </div>
             
                <div class="col-3">
                    <input type="button" value="Ссылка на код" id="code" class="btn btn-sm btn-block btn-outline-dark url_button">
                </div>
               

            </div>
      

<!-- ========================================VideoFileModule======================= -->
<div class="videoFileModule">
    <div class="hide">
        <div class="file_box">
            <div class="row">
                <div class="col-11"></div>
                <div class="col-1"><h1 class="closeCross" id="closeCross">&times;</h1></div>
            </div>
      
        
           
            <form action="{% url 'lecture_update' subject.id section.id lecture.id %}" method="POST"
                enctype="multipart/form-data">
                {% csrf_token %}
                    
                    
                <div class="form-row m-auto">
                  
                    <div class="col-5">
                        <label for="file">
                            Выберите видеофайл из вашего хранилища:
                        </label>
                    </div>
                    <div class="col-5">
                        <input type="file" class="form-control" id="file" name="file" required>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'>
                    </div>
                   
                </div>
            </form>
            <div class="row m-auto">
                <div class="text-center mb-4 mt-3">ИЛИ</div>
            </div>

            <div data-bs-toggle="collapse" data-bs-target='#v_files'>
                    <button class='btn btn-block btn-outline-dark'>
                        Выберите файл из библиотеки ранее загруженных файлов:
                    </button>
            </div>

            <div class="collapse mt-3" id='v_files' style="height:fit-content">
                {% for v_file in v_files %}

                <div class="row m-1">
                    <div class="col-8">{{v_file.video_file}}</div>
                    <div class="col-4">
                        <a href="{% url 'lecture_update_from_lib' lecture.id v_file.id%}"
                            style="text-decoration: none">
                            <input type="button" value="Загрузить из библиотеки"
                                class='btn btn-sm btn-block btn-outline-dark'>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>
<!-- ==========================End of Video File Module======================================================== -->
    
<!-- ========================================TextFileModule======================= -->
<div class="textFileModule">
    <div class="hide">
        <div class="file_box">
            <div class="row">
                <div class="col-11"></div>
                <div class="col-1">
                    <h1 class="closeCross" id="closeCrossTextFile">&times;</h1>
                </div>
            </div>

            <form action="{% url 'add_text_file' lecture.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="form-row m-auto">

                    <div class="col-5">
                        <label for="file">
                            Выберите файл в тектовом формате:
                        </label>
                    </div>
                    <div class="col-5">
                        <input type="file" class="form-control" id="file" name="file" required>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ==========================End of Text File Module======================================================== -->

<!-- ========================================UrlModule======================= -->
<div class="urlModule">
    <div class="hide">
        <div class="file_box">
            <div class="row">
                <div class="col-11"></div>
                <div class="col-1">
                    <h1 class="closeCross" id="closeCrossUrlModule">&times;</h1>
                </div>
            </div>

            <form action="{% url 'add_text_file' lecture.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="form-row m-auto">

                    <div class="col-5">
                        <label for="file">
                            Введите ссылку на код:
                        </label>
                    </div>
                    <div class="col-5">
                        <input type="file" class="form-control" id="file" name="file" required>
                    </div>
                    <div class="col-2">
                        <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ==========================End of URL Module======================================================== -->

</div>
</div>

<script>
        const videoFileButton = document.querySelector('.videoFileButton');
        const videoFileModule = document.querySelector('.videoFileModule');
        const closeCross = document.querySelector('#closeCross')
        const textButton = document.querySelector('.text_button');
        const textFileModule = document.querySelector('.textFileModule');
        const closeCrossTextFile = document.querySelector('#closeCrossTextFile')
        const urlButton = document.querySelector('.url_button');
        const urlModule = document.querySelector('.urlModule');
        const closeCrossUrlModule = document.querySelector('#closeCrossUrlModule')
         
        videoFileButton.addEventListener('click', () => {
            videoFileModule.classList.add('openModal')
        })
        closeCross.addEventListener('click', () => {
            videoFileModule.classList.remove('openModal')
        })

        textButton.addEventListener('click', () => {
            textFileModule.classList.add('openModal')
        })

        closeCrossTextFile.addEventListener('click', () => {
            textFileModule.classList.remove('openModal')
        })

        urlButton.addEventListener('click', () => {
            urlModule.classList.add('openModal')
        })

        closeCrossUrlModule.addEventListener('click', () => {
            urlModule.classList.remove('openModal')
        })

</script>

{% endblock %}