{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <body oncontextmenu="return false;"> -->
<div class="container">
    <div class="row m-auto">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Редактирование курса</a></li>

                <li class="breadcrumb-item active" aria-current="page">Лекции</li>
            </ol>
        </nav>
    </div>


    <div class="draggable-list" id="draggable-list">

        <form action="{% url 'bulk_lecture_enumerator_update' subject.id %}" method="POST" id='form_no_button'>
            {% csrf_token %}

    {% for section in sections %}
        <li class="section_box p-5 draggable_section mb-5" draggable="true" >
                    {{section.enumerator}} {{section.title}}
                       
                     
            <input type="text" class='form-control' id="section_id" name="section_id" value='{{section.id}}' readonly draggable="true">
                    
                
                  
                {% for lecture in lectures %}
                {% if lecture.section == section %}
            
            <input type="text" class='form-control box ml-3 draggable_lecture' id="lecture_id" name="sec_lec_id"
            value='{{section.id}}/{{lecture.id}}' readonly draggable="true">
                
                {% endif %}
                {% endfor %}
                

               
            </li>
            {% endfor %}


<!-- <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'> -->

        </form>
    </div>

</div>



<script>
    console.log('start OK')
 

    const sectionContainer = document.querySelector('.draggable-list');//container for sections
    const draggableSections = document.querySelectorAll('li.draggable_section:not(.draggable_lecture')//containers for lectures
    //const draggableElements = [...section.querySelectorAll('.draggable_lecture:not(.dragging)')]
    const draggableLectures = document.querySelectorAll('.draggable_lecture')//draggable lectures
    const formNoButton = document.querySelector('#form_no_button')//var for submitting form witout pushing button
    //const dragging = document.querySelector('.draggable_lecture.dragging');
    listSectionItems =[]
    let dragStartIndexSection;
    let dragEndIndexSection;
    let a
  

//====================Drag & Drop Section Module===============================
    draggableSections.forEach((item, index) => {
            item.setAttribute('data-section', index);
            listSectionItems.push(item)
            console.log(item.getAttribute('data-section'))
            })
            console.log(listSectionItems)

             
    draggableSections.forEach(section => {
        section.addEventListener('dragstart', (e) => {
            if (e.target.className != 'draggable_lecture') {
                section.classList.add('draggingSection')
                dragStartIndexSection = +section.closest('li.draggable_section').getAttribute('data-section')
                console.log ('dragging section starts')
            }
            else {
                //e.stopBubbling()
                console.log('lecture move')
            }
        })

        section.addEventListener('dragend', (e) => {
            if (e.target.className != 'draggable_lecture') 
              {
                section.classList.remove('draggingSection')
            }
            else {
                  //e.stopBubbling()
                  console.log('lecture move')
              }
        });
      
    })

//===========================Drag & Drop Lecture Module===============================    
//function dragLecture (){
    draggableLectures.forEach(lecture => {
        lecture.addEventListener('dragstart', (e) => {
            lecture.classList.add('dragging')
            e.stopPropagation()
        })
        lecture.addEventListener('dragend', (e) => {
            lecture.classList.remove('dragging')
            e.stopPropagation()
        });  
    })
//}

    draggableSections.forEach(section => {
        section.addEventListener('dragover', (e) => {
        e.preventDefault()
        if (a=0) {
        //if (section.contains(dragging)) {
            const afterElement = getDragAfterElement(section, e.clientY)
            const draggable = document.querySelector('.dragging')
            if (afterElement == null) {
                section.appendChild(draggable)
            }
            else {
                section.insertBefore(draggable, afterElement)
            }
        }
            })      
        })    

    function getDragAfterElement(section, y) {
            const draggableElements = [...section.querySelectorAll('.draggable_lecture:not(.dragging)')]
            return draggableElements.reduce((closest, child) => {
                const box = child.getBoundingClientRect()
                const offset = y - box.top - box.height / 2
                if (offset < 0 && offset > closest.offset) {
                    return { offset: offset, element: child }
                }
                else {
                    return closest
                }
            }, { offset: Number.NEGATIVE_INFINITY }).element
        }

        draggableSections.forEach(section => {
                section.addEventListener('drop', e => {
                    const draggable = document.querySelector('.dragging')
                    let len = draggable.value.indexOf("/");
                    draggable.value = section.children[0].value + draggable.value.slice(len)
                    formNoButton.submit();
                })
            })

   function swapSectionItems(fromIndexSection, toIndexSection) {
            const itemOneSection = listSectionItems[fromIndexSection].querySelector('li.draggable_section');
            const itemTwoSection = listSectionItems[toIndexSection].querySelector('li.draggable_section');
                //listItems[fromIndex].appendChild(itemTwo);
                listSectionItems[toIndexSection].appendChild(itemOneSection);
                //draglistItems[toIndex].appendChild(itemOne);

                if (fromIndexSection < toIndexSection) {
                    for (let i = fromIndexSection; i < toIndexSection; i++) {
                        listSectionItems[i].appendChild(listSectionItems[i + 1].querySelector('.draggable_section'))
                    }
                }
                else {
                    for (let i = toIndexSection; i < fromIndexSection; i++) {
                        listSectionItems[i + 1].appendChild(listSectionItems[i].querySelector('.draggable_section'))
                    }
            }
        }


    console.log('end OK')
</script>

{% endblock %}