{% extends "base.html" %}
{% load static %}
{% block content %}
<body oncontextmenu="return false;">
 

<div class="container">

    
    {% if subject.ready == True %}
    <div class="row p-3 mt-3">
        <div class="col-12">
        Your course has been uploaded to ruversisty.com & is ready for sale. Since ruversity.com provides life-time access for the buyers, you are no longer able neither to delete it nor edit. In order to make changes in the course you have to apply to us via email.
        </div>
    </div>

    {% for question in questions %}
    <div class="row">
        <div class="col">{{question.author}}</div>
        <div class="col">{{question.lecture.title}}</div>
        <div class="col">{{question.content}}</div>
        <div class="col">{{question.date_posted}}</div>
        <div class="col">
            <button class="btn btn-outline-dark btn-block" data-bs-toggle="modal" data-bs-target="#answerModal">
                Answer
            </button>
        </div>
        </div>
    <div class="modal" id='answerModal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class='modal-title'>Change your name:</h5>
                    <button class='close' data-bs-dismiss='modal'>&times;</button>
                </div>
                <div class="modal-body">
    
                    <form action="{% url 'answer' subject.id question.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="answer">Enter your answer:</label>
                            <input class='form-control' type="text" id="answer" name="answer" maxlength='50'
                                required>
                        </div>
                     
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-dark btn-block">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>

   
       
        {% for item in question.answer_set.all %}
            {{item.author}} {{item.date_posted}} {{item.content}}<br>
        {% endfor %}

    <div class="row">
        <form action="{% url 'answer' subject.id question.id %}" method="POST">
            {% csrf_token %}
            <div class="form-row mt-4">
                <div class="col-2">
                    <label for="answer">Your answer</label>
                </div>
                <div class="col ">
                    <input type="text" class='form-control' id="answer" name="answer" maxlength='50' required><br>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-2"></div>
                <div class="col">
                    <!-- <input type="submit" value="Create" class="btn btn-info btn-block"> -->
                    <!-- <button type='submit'>Load</button><br> -->
                    <input type="submit" value="Answer" class="btn btn-sm btn-block btn-outline-dark">
                </div>
            </div>
        </form>




    </div>
    {% endfor %}

    {% else %}
        
    <div class="row p-3">
        <div class="col-8">
    <h5>After your course is completed & ready to be uploaded, push the button</h5>
            </div>
            
        <div class="col-2">
    <a href="{% url 'agreement' subject.id%}">
    <input type="submit" value="Upload" class="btn btn-outline-dark btn-block">
    </a>
        </div>

    </div>
   

<!-- ====================================================== -->
<div class="row border rounded bg-light text-center">
    <h5>Edit the subject</h5>
</div>

<div class="row mt-2">
    <div class="col-4">
        <div class="card">
            <div class="card-header" style='height:5rem' >
                <h4>{{subject.title}}</h4>
            </div>
            <figure class="image is-16by9">
                <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='card-image-top'>
            </figure>
            <div class="card-body">
            <div class="row">
                <div class="col">
                    <strong>Description: </strong>
                    <!-- <a ref='#collapse-p' data-toggle="collapse" data-target="#collapse-p">
                            Read More
                            </a> -->
                </div>
            </div>
            <div class="row" style='height:6rem'>
                <div class="col">
                    {{subject.description}}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <strong>Prerequisites: </strong>
                </div>
            </div>
            <div class="row" style='height:6rem'>
                <div class="col">
                    {{subject.prerequisite}}
                </div>
            </div>

             
            <div class="row">
                <div class="col"><strong>Language: </strong>{{subject.language}}</div>
            </div>
            <div class="row">
                <div class="col"><strong>Category: </strong>{{subject.category}}</div>
            </div>
        </div>
    </div>
</div>


    <div class="col-7 p-3 m-1">
       
    <form action="{% url 'edit_subject' subject.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class='form-control' id="title" name="title" maxlength='50' required placeholder='Edit title of the subject'>
            </div>
            <div class="form-group">
                <select name="language" class='form-select' id="language" required>
                    {% for item in languages %}
                    <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                    <select name="category" class='form-select' id="category" required>
                        {% for item in categories %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
            </div>
            <div class="form-group">
                <label for="description">Edit short description for the subject:</label>
                <textarea class='form-control' id="description" rows='3' minlength='120' maxlength='180' name="description" required placeholder='Please, enter short description from 120 to 180 symbols'></textarea>
            <div class="form-group">
                <label for="prerequisites">Edit prerequisites for the subject:</label>
                <textarea class='form-control' rows='3' id="prerequisite" minlength='120' maxlength='180' minlength='150'name="prerequisite" required></textarea>
            <div>
            <div class="form-group">
                <label for="thumbnail">Load new thumbnail for the subject:</label>
                <input type="file" class="form-control" id="thumbnail" name='thumbnail' required>
            </div>
            </div>

   
        <div class="row mb-2">
            <!-- <div class="col"><input type="submit" value="Edit" class="btn btn-info btn-block"></div> -->
            <div class="col"><input type="submit" value="Edit" class='btn btn-sm btn-block btn-outline-dark'></div>     
        </div>
</form>

        <div class="row mt-3">
            <div class="col">
                <a href="{% url 'delete_subject' subject.id %}">
                    <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
                    <input type="button" value="Delete" class='btn btn-sm btn-block btn-outline-dark'>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
  
<!-- ===================Create New Section Box============================== -->

    <div class="row mt-3 border rounded bg-light text-center">
        <h5>Create new section</h5>
    </div>
    <div class="row mt-2 pb-3 border rounded">
    
        <form action="{% url 'create_new_section' subject.id %}" method="POST">
            {% csrf_token %}
    
            <div class="form-row">
                <div class="col-3">
                    <label for="title">
                        <h5>Add new section:</h5>
                    </label>
                    <input class='form-control' type="text" id="title" name="title" placeholder="Section Title" required>
                </div>
    
                <div class="col-2 align-self-end">
                    <!-- <button type='submit' value="Create" class="btn btn-info btn-block"> -->
                    <!-- <input type="submit" value="Create" class="btn btn-info btn-block "> -->
                    <input type="submit" value="Create" class='btn btn-sm btn-block btn-outline-dark'>
                    <input type="reset" value="Clear" class="btn btn-sm btn-block btn-outline-dark">
                </div>
            </div>
    </div>
    </form>
    
  
    <!-- =====================Sections============================================== -->
    {% for section in sections %}
    <div class="row mt-2 mb-2 border rounded bg-light text-center">
        <a href="{% url 'edit_section' subject.id section.id %}"><h3>{{section.title}}</h3></a>

    </div>
        <!-- <div class="row mt-3 border rounded text-center"></div> -->

    {% endfor %}
    <!-- ======================End of Section Box=========================== -->



    </div>
</div>



  
</div>
</div>
        </div>
    </div>
</div>
    {% endif %}

</div>

{% endblock %}