{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">

    <div class="row mt-2">Please, update your credit card details</div>
    <div class="row">
        <form action="{% url 'edit_credit_card' credit_card.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row p-2">
                <div class="col-4">
                    <label for="first_name">First Name</label>
                </div>
                <div class="col-3">
                    <input type="text" id="first_name" name="first_name" required><br>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-4">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="col-3">
                    <input type="text" id="last_name" name="last_name" required><br>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-4">
                    <label for="credit_card_type">Credit card type</label>
                </div>
                <div class="col-3">
                    <select name="credit_card_type" id="credit_card_type" required>
                        {% for item in credit_card_types %}
                        <option value="{{item.type}}">{{item.type}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>



            <div class="row p-2">
                <div class="col-4">
                    <label for="card_number">Credit Card Number</label>
                </div>
                <div class="col-3">
                    <input type="text" id="card_number" name="card_number" required><br>
                </div>
            </div>

            <div class="row p-2">
                <input type="submit" value="Update" class="btn btn-outline-dark btn-block">
                <!-- <button type='submit'>Load</button><br> -->
            </div>
        </form>
    </div>
 

</div>
</div>
{% endblock %}