{% extends "base.html" %}
{% load static %}
{% block content %}
<body oncontextmenu="return false;">
    <div class="container">
        <div class="row m-auto">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Edit Subject Page</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit Section Page</li>
                </ol>
            </nav>
        </div>
<div class="row">
    <div class="col-5 m-auto">
        <h5>{{section.title}}</h5>
    </div>
</div>
    <form action="{% url 'edit_section' subject.id section.id %}" method="POST">
        {% csrf_token %}
    
        <div class="form-row">
            <div class="col-3">
                <label for="title">
                    <h5>Edit Section Title</h5>
                </label>
                <input class='form-control' type="text" id="title" name="title" placeholder="Section Title" required>
            </div>
    
            <div class="col-2 align-self-end">
                <!-- <button type='submit' value="Create" class="btn btn-info btn-block"> -->
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block "> -->
                <input type="submit" value="Edit" class='btn btn-sm btn-block btn-outline-dark'>
                <input type="reset" value="Clear" class="btn btn-sm btn-block btn-outline-dark">
            </div>
        </div>
    </form>
<div class="row m-1">
    <div class="col">
        <a href="{% url 'delete_section' subject.id section.id %}">
            <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
            <input type="submit" value="Delete" class='btn btn-sm btn-block btn-outline-dark'>
        </a>
    </div>
</div>



                <!-- =============Create New Lecture Box============================================ -->
                <div class="col-11 border rounded m-auto">
                    <div class="row mt-3 border rounded bg-light text-center">
                        <h5>Create new lecture</h5>
                    </div>
                    <div class="row mt-2 pb-3 border rounded">
                        <form action="{% url 'create_new_lecture' subject.id section.id %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                
                            <div class="form-row">
                                <div class="col-3">
                                    <label for="title">
                                        <h5>Add new lecture:</h5>
                                    </label>
                                    <input class='form-control' type="text" id="title" name="title" placeholder="Lecture Title"
                                        required>
                                </div>
                                <div class="col-3">
                                    <label for="video_file">
                                        <h5>Load new mp4 file:</h5>
                                    </label>
                                    <input type="file" class="form-control" id="video_file" name="video_file" required>
                                </div>
                
                
                                <div class="col-3 align-self-end ml-5">
                                    <input type="checkbox" id='free_access' class='form-check-input' name='free_access'
                                        value='free_access'>
                                    <label for="free_access" class='form-check-label'>
                                        <h5>Check to grant free access</h5>
                                    </label>
                                </div>
                                <div class="col-2 align-self-end">
                                    <!-- <button type='submit' value="Create" class="btn btn-info btn-block"> -->
                                    <!-- <input type="submit" value="Create" class="btn btn-info btn-block "> -->
                                    <input type="submit" value="Create" class='btn btn-sm btn-block btn-outline-dark'>
                                    <input type="reset" value="Clear" class="btn btn-sm btn-block btn-outline-dark">
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
                <!-- ==============End of Create New Lecture Box================================        -->
                <!-- ====================Edit Lecture Box========================================== -->
                <div class="col-11 border rounded m-auto">
                    <div class="row mt-3 border rounded bg-light text-center">
                        <h5>Edit lectures</h5>
                    </div>
                </div>
                
                
                {% for lecture in lectures %}
                
                {% if lecture.section == section %}
                <div class="col-11 border rounded m-auto">
                    <div class="row mt-3 border rounded bg-light text-center">
                        <div class="row m-2">
                            <div class="col-3 border rounded m-1">
                                <div class="row">
                                    <div class="col p-2">
                                        {{lecture.title}}<br>
                                        {{lecture.length}} min<br>
                                        {{lecture.size_mb}} mb
                                    </div>
                                    <div class="col p-2">
                                        <!-- <a class="nav-link" href="{{ lecture.video_file.url }}" target='_blank'> -->
                                        <a>
                                            <video oncontextmenu="return false;" width="160" height="120" controls
                                                controlsList="nodownload">
                                                <!-- video width="320" height="240" controls controlsList="nodownload"> -->
                                                <source src="{{lecture.video_file.url}}" type="video/mp4">
                                            </video>
                                        </a>
                                    </div>
                                </div>
                            </div>
                
                            <div class="col-6 p-3 border rounded m-1">
                                <form action="{% url 'edit_lecture' lecture.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <input class='form-control' type="text" id="title" name="title" placeholder="Lecture Title"
                                            required>
                                    </div>
                                    <div class="form-row">
                                        <label for="description">Add short description for the lecture:</label>
                                        <textarea class='form-control mb-3' name="description" rows='2' id='description' required>
                                    </textarea>
                                        <input type="file" class="form-control" id="video_file" name="video_file" required>
                                    </div>
                
                            </div>
                            <div class="col-2 p-3 border rounded m-1">
                                <div class="row m-1">
                                    <!-- <div class="col"><input type="submit" value="Edit" class="btn btn-info btn-block"></div> -->
                                    <div class="col"><input type="submit" value="Edit" class='btn btn-sm btn-block btn-outline-dark'>
                                    </div>
                                    </form>
                                </div>
                                <div class="row m-1">
                                    <div class="col">
                                        <a href="{% url 'delete_lecture' lecture.id %}">
                                            <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
                                            <input type="submit" value="Delete" class='btn btn-sm btn-block btn-outline-dark'>
                                        </a>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
</div>


{% endblock %}