{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <body oncontextmenu="return false;"> -->
<div class="container">
        <div class="row m-auto">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Редактирование курса</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'edit_section' subject.id section.id %}">Разделы</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Лекции</li>
                </ol>
            </nav>
        </div>
<div class="row m-auto">
    <h3>Редактировать Раздел {{section.enumerator}}: {{section.title}}</h3>
</div>

<div class="row m-auto">
    <form action="{% url 'edit_section' subject.id section.id %}" method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="col-3">
                <input class='form-control' type="number" id="enumerator" name="enumerator"
                    placeholder="Изменить порядковый раздела" required>
            </div>
            <div class="col-3">
                <input class='form-control' type="text" id="title" name="title" placeholder="Изменить название раздела"
                    required>
            </div>

            <div class="col-2 align-self-end">
                <!-- <button type='submit' value="Create" class="btn btn-info btn-block"> -->
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block "> -->
                <input type="submit" value="Редактировать" class='btn btn-block btn-outline-dark'>
                <!-- <input type="reset" value="Очистить" class="btn btn-sm btn-block btn-outline-dark"> -->
            </div>
    </form>

    <div class="col-2 align-self-end">
        <a href="{% url 'delete_section' subject.id section.id %}" style="text-decoration: none">
            <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
            <input type="button" value="Удалить раздел" class='btn btn-block btn-outline-dark'>
        </a>
    </div>
</div>





<div class="row mt-3 border rounded bg-light text-center">
    <h3>Лекции</h3>
</div>

<div class="row mt-3">
    <form action="{% url 'upload_multiple_files' subject.id section.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    
        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="multiple_file">
                    <strong>
                        Загрузите видеофайл/ы mp4 для данного раздела. Общий размер файлов не должен превышать 500Mb.
                    </strong>
                </label>
            </div>
            <div class="col-4">
                <input type="file" multiple class="form-control" id="multiple_files" name="multiple_files" required>
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-5"></div>
            <div class="col-4">
                <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'>
            </div>
        </div>
        
        </form>
        
        </div>



<!-- =============Create New Lecture Box============================================ -->   
<div class="row">
    <div class="col-8">    
    <div class="row m-auto">
        <div class="lecture_note">Для создания лекции перетащите поле "УИН" из библиотеки загруженных файлов в соответсвующее поле в форме. При создании лекции без видеофайла просто оставьте это поле пустым.
        </div>
        <div class="create_lecture">
        <h3>Создать новую лекцию</h3>
        </div>
    </div>

<div class="row m-auto border rounded">
  
    <form action="{% url 'lecture_update' subject.id section.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="lecture_id">
                    <strong>Уникальный идентификатор лекции :</strong>
                </label>
            </div>
            <div class="col-4">
                <input class='form-control i-1' type="text" id="lecture_id" name="lecture_id" placeholder="Уникальный идентификатор лекции">
            </div>
        </div>

        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="enumerator">
                    <strong>Порядковый номер лекции :</strong>
                </label>
            </div>
        
            <div class="col-4">
                <input class='form-control' type="number" id="enumerator" name="enumerator" placeholder="Порядковый номер лекции"required>
            </div>
        </div>
        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="title">
                    <strong>Название лекции :</strong>
                </label>
            </div>
            <div class="col-4">
                    <input type="text" class='form-control i-1'  id="title" name="title" placeholder="Название лекции" required>
            </div>
        </div>
        <!-- <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="video_file">
                    <strong><div class="div" style="color: blue">Загрузите видеофайл mp4 размером до 500Mb:</div></strong>
                </label>
            </div>
            <div class="col-4">
                <input type="file" class="form-control i-2" name="video_file" required>
            </div>
        </div> -->
        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="additional_file">
                    <strong>Если необходимо, загрузите текстовый, архивный файл или изображение:</strong>
                </label>
            </div>
            <div class="col-4">
                <input type="file" class="form-control" id="additional_file" name="additional_file">
            </div>
        </div>
        <div class="form-row mt-1 mb-1">
            <div class="col-5">
                <label for="url_link">
                    <strong>Если необходимо, введите ссылку на ресурс:</strong>
                </label>
            </div>
            <div class="col-4">
                <input type="url" class="form-control" id="url_link" name="url_link" placeholder="https://">
            </div>
        </div>
        <!-- <div class="form-row">
            <div class="col-3">
                <label for="subtitle_file">
                    <strong>Загрузить субтитры:</strong>
                </label>
            </div>
            <div class="col-4">
                <input type="file" class="form-control" id="subtitle_file" name="subtitle_file">
            </div>
        </div>
        <div class="form-row">
            <div class="col-3">
                <label for="subtitle_file">
                    <strong>Загрузить перевод:</strong>
                </label>
            </div>
            <div class="col-4">
                <input type="file" class="form-control" id="translation_file" name="translation_file">
            </div> -->
       
        <div class="form-row">
            <div class="col-5 pl-4">
            <input type="checkbox" id='free_access' class='form-check-input' name='free_access' value='free_access'>
            </div>
            <div class="col-4">
                <label for="free_access">
                    <strong>Отметьте, если это бесплатная лекция</strong>
                </label>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-5"></div>
            <div class="col-4">
                <input type="submit" value="Создать" class='btn btn-block btn-outline-dark'>
            </div>
        </div>                               
    </form>
</div>
    <br>
    </div>
<div class="col-4">
    <div class="row m-auto">
        <h3>Библиотека загруженных видеофайлов.</h3>
    </div>
<div class="row">

    <div class="col-3"><h5>УИН</h5></div>
    <div class="col-8"><h5>Название файла</h5></div>
  
</div>

    {% for item in v_files%}
    <div class="row mb-2">
        <div class="col-2">
            <div class="hint">Перетащите поле с УИН лекции в соответсвующее поле в форме "Создать новую лекцию".</div>
            <div class="d-1" draggable="true">{{item.id}}
        </div>
    </div>
        <div class="col-8"><div class="file_title">{{item.video_file}}</div></div>
        <div class="col-1">
            <a href="{% url 'delete_lecture' item.id %}" style="text-decoration: none">
                <!-- <input type="button" value="Удалить" class='btn btn-sm btn-block btn-outline-dark'><div class="col-1"> -->
                <button type="button" class="btn-close" aria-label="Close"></button>
               
            </a>
        </div>
    </div>
    {% endfor %}

</div>


<!-- ==============End of Create New Lecture Box================================        -->

<!-- ====================Edit Lecture Box========================================== -->
    <h3>Подготовленные лекции</h3>
{% for lecture in lectures %}
{% if lecture.section == section %}

    <div class="row mt-2">
        <div class="col-7">
        <strong>Лекция {{lecture.enumerator}}: {{lecture.title}}. Длительность: {{lecture.length}} мин. Размер:  {{lecture.size_mb}} Mb</strong>
        </div>
        <div class="col-2">
            <input type="button" value="Редактировать" id="lecture_title" class="btn btn-sm btn-block btn-outline-dark">
        </div>
        <div class="col-2">
            <a href="{% url 'delete_lecture' lecture.id %}" style="text-decoration: none">
                <input type="button" value="Удалить" class='btn btn-sm btn-block btn-outline-dark'>
            </a>
        </div>
    </div>
   
    <!-- ==============================Lecture Edit Modal=================================== -->
        <div id="lectureModal">
            <div class="hide">
                    <div class="lecture_box">
                        <div class="row">
                            <div class="col-11">
                                <h4>Форма редактирования лекции</h4>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                          
                        </div>
                        <hr>
                        <div class="row">
                            <!-- <div class="col-4">
                                <div class="row">
                                    <div class="col-6"><strong>Порядковый номер: </strong></div>
                                    <div class="col-5">{{lecture.enumerator}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Название: </strong></div>
                                    <div class="col-5">{{lecture.title}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Продолжительность: </strong></div>
                                    <div class="col-5">{{lecture.length}} мин.</div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Размер: </strong></div>
                                    <div class="col-5">{{lecture.size_mb}} Mb</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6"><strong>Ccылка на ресурс: </strong></div>
                                    <div class="col-5">
                                    {% for item in lecture.additionalmateriallink_set.all %}
                                        {% if item.url_link == None %}
                                            Ссылка отсутствует
                                        {% else %}
                                            <a href="{{item.url_link }}" target="_blank">{{item.url_link}}</a>
                                        {% endif %}   
                                    {% endfor %}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-6"><strong>Дополнительный файл:</strong></div>
                                    <div class="col-5">
                                        {% for item in lecture.additionalmaterialfile_set.all %}
                                            {% if item.additional_file == None %}
                                                Файл не задан
                                            {% else %}
                                                <a class="nav-link" href="{{ item.additional_file.url }}" download >Ссылка на файл</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if lecture.video_file %}
                                <div class="row mt-1">
                                    <div class="col-5>
                                            <a class="nav-link" href="{{ lecture.video_file.url }}" target='_blank'>
                                        <a> -->
                                            <video oncontextmenu="return false;" width="320" height="240" controls
                                                controlsList="nodownload">
                                                <!-- video width="320" height="240" controls controlsList="nodownload"> -->
                                                <source src="{{lecture.video_file.url}}" type="video/mp4">
                                            </video>
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                Видеофайл отсутствует.
                                {% endif %}
                            </div>
        
                            <div class="col-4">
                                <form action="{% url 'edit_lecture' lecture.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-row mt-1 mb-1">
                                        <div class="col-5">
                                            <label for="lecture_id">
                                                <strong>Уникальный идентификатор лекции:</strong>
                                            </label>
                                        </div>
                                        <div class="col-4">
                                            <input class='form-control i-2' type="text" id="lecture_id" name="lecture_id"placeholder={{lecture.id}}>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-4"><label for="enumerator"> <strong>Редактировать порядковый номер: </strong></label>
                                        </div>
                                        <div class="col-8"><input class='form-control' type="number" id="enumerator" name="enumerator" placeholder={{lecture.enumerator}}
                                                required></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-4"><label for="title"> <strong>Редактировать название: </strong></label>
                                        </div>
                                        <div class="col-8"><input class='form-control' type="text" id="title" name="title"
                                                placeholder={{lecture.title}} required></div>
                                    </div>
                                    <!-- <div class="form-row">
                                        <div class="col-4"><label for="video_file"> <strong>Загрузите видеофайл: </strong></label>
                                        </div>
                                        <div class="col-8">
                                            <input type="file" class="form-control" id="video_file" name="video_file" required>
                                        </div>
                                    </div> -->

                                    <div class="form-row mt-4">
                                        <div class="col-4">
                                            <label for="url_link">
                                                <strong>Введите ссылку на ресурс:</strong>
                                            </label>
                                        </div>
                                        <div class="col-8">
                                            <input type="url" class="form-control" id="url_link" name="url_link" placeholder="https://.">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-4"><label for="additional_file"> <strong>Загрузите дополнительный файл: </strong></label>
                                        </div>
                                        <div class="col-8">
                                            <input type="file" class="form-control" id="additional_file" name="additional_file">
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-4"></div>
                                        <div class="col-4"><input type="submit" value="Редактировать"
                                                class='btn btn-block btn-outline-dark'>
                                        </div>
                                    </div>
        
                                </form>
        
                                <div class="col-4">
                                    <a href="{% url 'delete_lecture' lecture.id %}" style="text-decoration: none">
                                        <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
                                        <input type="button" value="Удалить" class='btn btn-block btn-outline-dark'>
                                    </a>
                                </div>
                            </div>

                            <div class="col-4">
                                {% for item in v_files%}
                                <div class="row">
                                    <div class="col-2">
                                        <div class="d-2" draggable="true">{{item.id}}</div>
                                    </div>
                                    <div class="col-9">{{item.video_file}}</div>
                                    <div class="col-1">
                                        <a href="{% url 'delete_lecture' item.id %}" style="text-decoration: none">
                                            <!-- <input type="button" value="Удалить" class='btn btn-sm btn-block btn-outline-dark'><div class="col-1"> -->
                                            <button type="button" class="btn-close" aria-label="Close"></button>
                                
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

        </div>

                   
                
           
        <!-- ==============================================End of Lectue Edit Modal=========================== -->
    {% endif %}
    {% endfor %}

    </div>
    </div>
</div>
</div>
</div>


<script>
    //передает все необходимые значения, такие как: lecuture.id, lecture.title & so on
    console.log('start OK')
    const lectures = document.querySelectorAll('#lectureModal');
    const titles = document.querySelectorAll('#lecture_title');
    const buttons = document.querySelectorAll('.btn-close');
    const hint = document.querySelectorAll('.hint');
    const btn_close = document.querySelectorAll('.btn-close');
    const create_lecture = document.querySelector('.create_lecture');
    const lecture_note = document.querySelector('.lecture_note');
    //Drag & Drop API
    const video_lib = document.querySelectorAll('.video_lib');
    //const b_1 = document.querySelectorAll('.b-1');
    const d_1 = document.querySelectorAll('.d-1');
    const i_1 = document.querySelector('.i-1');
    


        for (let i = 0; i < titles.length; i++) {
            titles[i].addEventListener('click', e => {
                lectures[i].classList.add('openModal')
            })
        }

        for (let i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener('click', e => {
                lectures[i].classList.remove('openModal')
            })
        }

        for (let i = 0; i < d_1.length; i++) {
                d_1[i].addEventListener('mouseover', e=> {
                    //alert('asdfsdfsa')
                    hint[i].classList.add('openModal');
                })  
            };
      
        
       for (let i = 0; i < d_1.length; i++) {
            d_1[i].addEventListener('mouseleave', e => {
                hint[i].classList.remove('openModal');
            });
        };
     
        for (let i = 0; i < btn_close.length; i++) {
            btn_close[i].addEventListener('click', (e) => {
                alert('Данное действие приедет к удалению файла и соответствующей лекции. Вы действительно хотите это сделать?');
            });
        };
     
        create_lecture.addEventListener('mouseover', (e) => {
            lecture_note.classList.add('openModal');
            }
        );

        create_lecture.addEventListener('mouseleave', (e) => {
                lecture_note.classList.remove('openModal');
            }
            );

    //=================Drag & Drop===============
        for (let i = 0; i < d_1.length; i++) {
            d_1[i].addEventListener('dragstart', dragStart);
            d_1[i].addEventListener('dragend', dragEnd);
        }

        
        function dragStart() {
            setTimeout(()=> {
            this.classList.add('d-1-hidden');
            }, 100)
        };
        
        function dragEnd() {
            setTimeout(()=> {
            this.classList.remove('d-1-hidden');
            }, 100)
        };

        i_1.addEventListener('dragover', dragOver)
        i_1.addEventListener('dragenter', dragEnter)
        i_1.addEventListener('dragleave', dragLeave)
        i_1.addEventListener('drop', dragDrop)

       
        function dragOver (e) {
            e.preventDefault();
        };
        function dragEnter () {
            this.classList.add('hovered');
        };
        function dragLeave () {
            this.classList.remove('hovered');
        };

        function dragDrop () {
            data= document.querySelector('.d-1-hidden').innerText;
            this.value=data;
        };
        

        //for (let i = 0; i < video_lib.length; i++) {
        //    b_1[i].addEventListener('click', e => {
        //        let data = video_lib[i].url;
       //         i_2.file = data;
        //    })
        //}
        
        //document.querySelector('.b-1').addEventListener('click', () => {
        //        let data = document.querySelector('.video_lib').innerHTML;
        //        document.querySelector('.i-1').value = data;
        //    })

   
    console.log('end OK')
</script>

{% endblock %}