{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <body oncontextmenu="return false;"> -->
<div class="container">
    <div class="row m-auto">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                <li class="breadcrumb-item active" aria-current="page">Редактирование курса</li>
            </ol>
        </nav>
    </div>

    {% if subject.ready == True %}
    <div class="row p-3 mt-3">
        <div class="col-12">
            Ваш курс был загружен на сервер для продажи. Так как ruversity.com предоставляет неограниченный срок
            использования приобретенного курса, мы вынуждены ограничить вас в вашем праве удалить или редактировать
            данный курс.
            Для внесения изменений в курс свяжитесь с нами по электронной почте.

            <!-- Your course has been uploaded to ruversisty.com & is ready for sale. Since ruversity.com provides life-time access for the buyers, you are no longer able neither to delete it nor edit. In order to make changes in the course you have to apply to us via email. -->
        </div>
    </div>

    {% else %}

    <!-- ======================Sending Course to Server============================== -->
    <div class="row p-3">
        <div class="card_subject">
            <h5>После того, как ваш курс полностью готов для продаж, нажмите на кнопку. После загрузки на сервер ваш
                курс перестанет быть доступным для редактирования. </h5>
        </div>

        <div class="card_menu">
            <a href="{% url 'agreement' subject.id%}" style="text-decoration: none">
                <input type="submit" value="Загрузить на сервер" class="btn btn-outline-danger btn-block"
                    style="width:min-content">
            </a>
        </div>

    </div>


<!-- ====================================================== -->

    <div class="row m-auto border rounded bg-light text-center">
        <h3>Редактировать курс</h3>
    </div>

    <div class="row mt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-header" style='height:5rem'>
                    <h4>{{subject.title}}</h4>
                </div>
                <figure class="image is-16by9">
                    <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='card-image-top'>
                </figure>
                <div class="card-body">



                    <div class="row">
                        <div class="col">
                            <strong>Описание: </strong>
                            <a href='#collapse-p' data-bs-toggle="collapse" data-target="#collapse-p">
                                Ознакомиться
                            </a>
                        </div>
                    </div>

                    <!-- <div class="collapse show" id='collapse-p'> -->
                    <div class="collapse" id='collapse-p'>
                        <div class="row" style='height:13.5rem'>
                            <div class="col">
                                {{subject.description}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <strong>Предварительные знания: </strong>
                            <a href='#collapse-pr' data-bs-toggle="collapse" data-target="#collapse-pr">
                                Ознакомиться
                            </a>
                        </div>
                    </div>


                    <div class="collapse" id='collapse-pr'>
                        <div class="row" style='height:13.5rem'>
                            <div class="col">
                                {{subject.prerequisite}}
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col"><strong>Язык: </strong>{{subject.language}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Категория: </strong>{{subject.category}}</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-7 pl-3 m-1">

            <form action="{% url 'edit_subject' subject.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title"><strong>Редактировать название курса</strong></label>
                    <input type="text" class='form-control' id="title" name="title" maxlength='50' required
                        placeholder='Название курса'>
                </div>
                <div class="form-group">
                    <label for="language"><strong>Редактировать язык курса</strong></label>
                    <select name="language" class='form-select' id="language" required>
                        {% for item in languages %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description"><strong>Редактировать категорию</strong></label>
                    <select name="category" class='form-select' id="category" required>
                        {% for item in categories %}
                        <option value="{{item.id}}">{{item.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="description"><strong>Редактировать краткое описание курса</strong></label>
                    <textarea class='form-control' id="description" rows='4' minlength='160' maxlength='360'
                        name="description" required
                        placeholder='Введите краткое описание курса. 160-360 символов.'></textarea>
                    <div class="form-group">
                        <label for="prerequisites"> <strong>Редактировать предварительную подготовку</strong></label>
                        <textarea class='form-control' rows='4' id="prerequisite" minlength='160' maxlength='360'
                            name="prerequisites" required
                            placeholder='Введите требования к предварительной подготовке. 160-360 символов.'></textarea>
                    </div>
                            <div class="form-group">
                                <label for="thumbnail"> <strong>Загрузить новую картинку для курса:</strong></label>
                                <input type="file" class="form-control" id="thumbnail" name='thumbnail' required>
                            </div>
                        </div>


                        <div class="row mb-2">
                            <!-- <div class="col"><input type="submit" value="Edit" class="btn btn-info btn-block"></div> -->
                            <div class="col"><input type="submit" value="Редактировать"
                                    class='btn btn-sm btn-block btn-outline-dark'>
                            </div>
                        </div>
            </form>

            <div class="row mt-3">
                <div class="col">
                    <a href="{% url 'delete_subject' subject.id %}" style="text-decoration: none">
                        <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
                        <input type="button" value="Удалить курс" class='btn btn-sm btn-block btn-outline-dark'>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>



<!-- ===================Create New Section Box============================== -->
<div class="row m-auto border rounded bg-light text-center">
    <h3>Разделы</h3>
</div>

<div class="row m-auto">
    <h3>Создать новый раздел</h3>
</div>

<div class="row m-auto>">

    <form action="{% url 'create_new_section' subject.id %}" method="POST">
        {% csrf_token %}

        <div class="form-row mt-2">
            <div class="col-3">
                <input class='form-control' type="number" id="enumerator" name="enumerator"
                    placeholder="Порядковый номер раздела" required>
            </div>
            <div class="col-3">
                <input class='form-control' type="text" id="title" name="title" placeholder="Название раздела" required>
            </div>

            <div class="col-2 align-self-end">
                <!-- <button type='submit' value="Create" class="btn btn-info btn-block"> -->
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block "> -->
                <input type="submit" value="Создать" class='btn btn-block btn-outline-dark' style="width:fit-content">
            </div>
        </div>
    </form>
</div>

<!-- =====================Sections============================================== -->
<div class="row m-auto pt-2">
    <h3>Редактирование разделов</h3>
</div>

{% for section in sections %}
<!-- <div class="row m-auto pt-2" id="sections"> -->
<!-- <div class="col-6"> -->
<!-- <h5><span id="open_sections">Раздел {{section.enumerator}}: {{section.title}}.</span></h5> -->
<!-- <h5>Раздел {{section.enumerator}}: {{section.title}}.</h5>
        </div> -->

<div class="row m-auto pt-2">
    <div class="col-6">
        <a id='a_id_section' href='#' <h5 data-bs-toggle="collapse"
            data-bs-target='#section{{section.id}}'>{{section.enumerator}} {{section.title}} </h5></a>
    </div>
    <div class="col-2 align-self-end">
        <a href="{% url 'edit_section' subject.id section.id %}" style="text-decoration: none">
            <input type="button" value="Редактировать" class='btn btn-sm btn-block btn-outline-dark'>
        </a>
    </div>

    <div class="col-2 align-self-end">
        <a href="{% url 'delete_section' subject.id section.id %}" style="text-decoration: none">
            <!-- <input type="submit" value="Delete" class="btn btn-info btn-block"> -->
            <input type="button" value="Удалить" class='btn btn-sm btn-block btn-outline-dark'>
        </a>
    </div>

    <div class="collapse" id='section{{section.id}}'>
        <div class="row" style='min-height:fit-content'>
            <div class="col">
                {% for lecture in lectures %}
                {% if lecture.section == section %}
                <div class="row ml-4">
                    <div style="font-style:italic"> Лекция {{lecture.enumerator}}. {{lecture.title}}</div>
                </div>
                {% endif %}
                {%endfor%}
            </div>
        </div>
    </div>
</div>


<div id="openSectionModal">
    {% for lecture in lectures %}
    {% if lecture.section == section %}
    <div class="row m-auto">
        {{lecture.title}}
    </div>
    {% endif %}
    {%endfor%}
</div>

{% endfor %}
<!-- ======================End of Section Box=========================== -->
</div>


{% endif %}




<script>
    console.log('start OK')
    const open_sections = document.querySelectorAll('#open_sections');
    const openSectionModal = document.querySelectorAll('#openSectionModal');


    for (let i = 0; i < open_sections.length; i++) {
        open_sections[i].addEventListener('mouseover', e => {
            openSectionModal[i].classList.add('openModal')
        })
    }

    for (let i = 0; i < open_sections.length; i++) {
        open_sections[i].addEventListener('mouseout', e => {
            openSectionModal[i].classList.remove('openModal')
        })
    }
    console.log('end OK')
</script>



{% endblock %}