{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- <body oncontextmenu="return false;"> -->
<div class="container">
    <div class="row m-auto">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
            aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Редактирование курса</a></li>

                <li class="breadcrumb-item active" aria-current="page">Лекции</li>
            </ol>
        </nav>
    </div>


    <div class="draggable-list" id="draggable-list">

        <form action="{% url 'bulk_lecture_enumerator_update' subject.id%}" method="POST" id='form_no_button'>
            {% csrf_token %}

            {% for section in sections%}
            <!-- <li class="li_section mb-3"> -->
                <div class="section_box p-5 draggable_section mb-5" draggable="true">
                    <div class="row">
                        <div class="col-2">
                            <label for="section_id">Раздел {{section.enumerator}} {{section.title}}</label>
                        </div>
                        <div class="col-2">
                            <input type="text" class='form-control' id="section_id" name="section_id" value='{{section.id}}' readonly>
                        </div>
                        
                    </div>
                  

              
                        {% for lecture in lectures %}
                        {% if lecture.section == section %}
                        <!-- <li class="li_lecture"> -->
                            <!-- <div class="row mt-2 collection"> -->
                                <div class="box ml-3 draggable_lecture" draggable="true">
                                    <div class="row">
                                        <div class="col-2">
                                            <label for="lecture_id">Лекция {{lecture.enumerator}}</label>
                                        </div>
                                        <div class="col-2">
                                            <input type="text" class='form-control' id="lecture_id" name="lecture_id"
                                                value='{{lecture.id}}' readonly>
                                        </div>
                                        <div class="col-8">
                                            <strong>Название: {{lecture.title}};. Дл.: {{lecture.length_1}} Размер:
                                                {{lecture.size_mb}} Mb</strong>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        <!-- </li> -->
                        {% endif %}
                        {% endfor %}
                

                </div>
            <!-- </li> -->
            {% endfor %}

        </form>
    </div>

</div>



<script>
    console.log('start OK')
 
    const sectionContainer = document.querySelectorAll('.draggable_list');//container for sections
    const sectionItems = document.querySelectorAll('.draggable_section');//li draggable sections

   /* sectionItems.forEach(item => {
        item.addEventListener('dragstart', () => {
            item.classList.add('dragging')
        })
        item.addEventListener('dragend', () => {
            item.classList.remove('dragging')
        })
    })

    sectionContainer.addEventListener('dragover', e => {
        e.preventDefault()
        const draggable = document.querySelector('.dragging')
        sectionContainer.appendChild(draggable)
    })*/

    //==============================================
    const draggableLectures = document.querySelectorAll('.draggable_lecture')//draggable lectures
    const draggableSections = document.querySelectorAll('.draggable_section')//containers for lectures
    const formNoButton = document.querySelector('#form_no_button')//containers for lectures

    draggableLectures.forEach(lecture => {
        lecture.addEventListener('dragstart', () => {
            lecture.classList.add('dragging')
        })
        lecture.addEventListener('dragend', () => {
            lecture.classList.remove('dragging')
        })
    })



    draggableSections.forEach(section => {
        section.addEventListener('dragover', e => {
            e.preventDefault()
            const afterElement = getDragAfterElement(section, e.clientY)
            const draggable = document.querySelector('.dragging')
            if (afterElement == null) {
                section.appendChild(draggable)
            }
            else {
                section.insertBefore(draggable, afterElement)
            }     
        })   
    })

    draggableSections.forEach(section => {
        section.addEventListener('drop', e => {
            formNoButton.submit();
        }
        )
    })
    

    function getDragAfterElement(section, y) {
            const draggableElements = [...section.querySelectorAll('.draggable_lecture:not(.dragging)')]

            return draggableElements.reduce((closest, child) => {
                const box = child.getBoundingClientRect()
                const offset = y - box.top - box.height / 2
                if (offset < 0 && offset > closest.offset) {
                    return { offset: offset, element: child }
                }
                else {
                    return closest
                }

            }, { offset: Number.NEGATIVE_INFINITY }).element
        }

    console.log('end OK')
</script>

{% endblock %}