{% extends "base.html" %}
{% block content %}

<div class="container">
        <div class="row m-auto">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'studio' %}">Творческая студия</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'edit_subject' subject.id %}">Редактирование курса</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sections' subject.id %}">Разделы</a></li>
        
                    <li class="breadcrumb-item active" aria-current="page">Лекция</li>
                </ol>
            </nav>
        </div>

<div class="createLectureBox">
    <form action="{% url 'create_new_lecture' subject.id section.id %}" method="POST">
        {% csrf_token %}
            <div class="form-row">
                <label for="title"><h5>Введите название лекции</h5></label>
            </div>
            <div class="form-row mt-1 mb-1 ">
                <input type="text" class='form-control' id="text" name="title" placeholder="Не более 60 символов" maxlength='60' >
            </div>
            <div class="form-row mt-1 mb-1">
                    <input type="submit" value="Создать" class="btn btn-block btn-outline-dark">
            </div>      
    </form>
       
            <a href="{% url 'sections' subject.id%}" style="text-decoration: none">
            <div class="form-row mt-1 mb-1">
            <input type="button" value="Закрыть" class="btn btn-block btn-outline-dark">
            </div>
            </a>
      
 
        </div>
</div>


{% endblock %}