{% extends "base.html" %}
{% block content %}
{% load humanize %}


<div class="container">
{% if author.user != request.user %}

<div class="row mt-5">
    <div class="col-12">
    <form action="{% url 'create_author_page' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="form-row">
                <div class="col-4">
                    <label for="description" ><strong>
                        Ваша профессиональная подготовка:</strong></label>
                </div>
                <div class="col-8">
                    <textarea class='form-control' id="background" rows='3' minlength='120' maxlength='180' name="background" required placeholder='Пожалуйста, расскажите о себе и своем опыте. Испоьзуйте не более 360 символов'></textarea>
                </div> 
            </div>


            <div class="form-row mt-4">
            <div class="col-4">
                <label for="photo"> <strong> Ваше фото или лого:</strong></label>
            </div>
            <div class="col-8">
                <p>
                Загрузите ваше фото в одном из следующих форматов: 'jpg' 'jpeg' 'png' 'bmp'. Фотография должна быть квадратной с соотношением сторон 1 х 1; 
                <!-- Load a thumbnail file in jpg, jpeg, png or bmp format. Minimum required dimensions: 750 x 422 pixels. -->
                </p>
                <input type="file" id="photo" class='form-control' name="photo" required>
            </div>
            </div>
              
            <div class="form-row mt-4">
                <div class="col-4"></div>
            <div class="col-8">
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block"> -->
                <!-- <button type='submit'>Load</button><br> -->
                <input type="submit" value="Сохранить" class="btn btn btn-block btn-outline-dark">
            </div>
            </div>
            </form>
</div>
</div>
<!-- ======================================================================== -->

{% else %}

<div class="row mt-3">
    <div class="col-3">
        <a href="{% url 'create_new_subject'  %}" style="text-decoration: none">
            <!-- <input type="submit" value="Create New Subject" class="btn btn-info btn-block"> -->
            <input type="submit" value="Создать новый курс" class='btn btn-sm btn-block btn-outline-dark' style="width: fit-content">
        </a>
    </div>
</div>
       
<div class="row">
    <p><h3>Мои курсы в процессе редактирования</h3></p>
</div>
    
    <div class="row">
        {% for subject in subjects %}
        {% if subject.ready == False %}
        
        <div class="col-sm-3">
            <div class="card mb-3" style="border-color: transparent;">
                <div class="card-header"  style='height:5rem'>
                    <h5>{{subject.title}}</h5>
                </div>
                <a href="{% url 'edit_subject' subject.id %}">
                    <!-- <figure class="image is-4by3"> -->
                    <figure class="image is-16by9">
                        <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='rounded-2 img-fluid' id="edit_subject">
                        <!-- <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image"  class='card-image-top' style='width:18rem; height: 10rem;'> -->
                    </figure>
                </a>
                    <div class="card-body">
                        <!-- <div class="media ml-1">
                                            <p class="title is-6" style="height:10px">{{subject.title}}</p>
                                        </div> -->
                        <div class="row">
                            <div class="col"><strong>Автор: </strong>{{subject.author.first_name}} {{subject.author.last_name}}</div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Дата создания:
                                <br> </strong>{{subject.date_posted}}</div>
                        </div>
                    <div class="row">
                        <div class="col">
                            <strong>
                                Рейтинг:
                            </strong> {{subject.av_rating}}
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: {{subject.percent}}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <strong>Покупки:</strong> {{subject.transactions}}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

</div>

    <p><h3>Мои курсы, загруженные на сервер</h3></p>
    <div class="row">
        {% for subject in subjects %}
        {% if subject.ready == True %}
    
        <div class="col-sm-3">
            <div class="card img_scale mb-3" style="border-color: transparent;">
                <div class="card-header" style='height:5rem'>
                    <h5>{{subject.title}}</h5>
                </div>
                <a href="{% url 'edit_subject' subject.id %}">
                    <!-- <figure class="image is-4by3"> -->
                    <figure class="image is-16by9">
                        <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='rounded-2 img-fluid'
                            id="edit_subject">
                        <!-- <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image"  class='card-image-top' style='width:18rem; height: 10rem;'> -->
                    </figure>
                </a>
                <div class="card-body">
                    <!-- <div class="media ml-1">
                                                <p class="title is-6" style="height:10px">{{subject.title}}</p>
                                            </div> -->
                    <div class="row">
                        <div class="col"><strong>Автор: </strong>{{subject.author.first_name}} {{subject.author.last_name}}</div>
                    </div>
                    <div class="row">
                        <div class="col"><strong>Дата размещения: <br></strong>{{subject.date_posted}}</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <strong>
                                Рейтинг:
                            </strong> {{subject.av_rating}}
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: {{subject.percent}}"></div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col">
                            <strong>Покупки:</strong> {{subject.transactions}}
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}


{% endif %}
    <!-- ===================================Pagination====================================== -->
    <div class="row m-5">
        <div class="col">
            {% if subjects.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if subjects.has_previous %}
                <li class="page-item">
                    <a href="?page={{subjects.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in subjects.paginator.page_range%}
                {% if subjects.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
    
                {% if subjects.has_next %}
                <li class="page-item">
                    <a href="?page={{subjects.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {%endif %}
        </div>
    </div>
    <!-- ==========================End of Pagination========================================== -->

</div>
</div>
<script>
console.log ('Scrpt starts')

    const edit_subject = document.querySelector('#edit_subject');

    edit_subject.addEventListener('mouseenter', showMessage)


    function showMessage() {
           
        }

console.log ('Script ends')
</script>

{% endblock %}