{% extends "base.html" %}
{% block content %}
{% load humanize %}


<div class="container">
{% if author.user != request.user %}

<div class="row mt-5">
    <div class="col-6">
    <form action="{% url 'create_author_page' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

            <div class="form-row">
                <div class="col-3">
                    <label for="description" >You background</label>
                </div>
                <div class="col">
                    <textarea class='form-control' id="background" rows='3' minlength='120' maxlength='180' name="background" required placeholder='Please, tell us a few words about yourself & your professional background'></textarea>
                </div> 
            </div>


            <div class="form-row mt-4">
                <div class="col-3">
                <label for="photo">Your photo</label>
            </div>
            <div class="col">
                <p>
                Load a thumbnail file in jpg, jpeg, png or bmp format. Minimum required dimensions: 750 x 422 pixels. Always keep aspect ratio of 16 by 9. You may use stock images but we recommend you hire a professional web designer to create an image for your thumbnail.
                </p>
                <input type="file" id="photo" class='form-control' name="photo" required>
            </div>
            </div>
              
            <div class="row mt-4">
                <div class="col-3"></div>
            <div class="col">
                <!-- <input type="submit" value="Create" class="btn btn-info btn-block"> -->
                <!-- <button type='submit'>Load</button><br> -->
                <input type="submit" value="Submit" class="btn btn-sm btn-block btn-outline-dark">
            </div>
            </div>
            </form>
</div>
</div>
<!-- ======================================================================== -->

{% else %}

<div class="row mt-3">
    <div class="col-3">
        <a href="{% url 'create_new_subject'  %}">
            <!-- <input type="submit" value="Create New Subject" class="btn btn-info btn-block"> -->
            <input type="submit" value="Create New Subject" class='btn btn-sm btn-block btn-outline-dark'>
        </a>
    </div>
</div>
       

    <p><h3>My subjects created</h3></p>
    
    
    <div class="row">
        {% for subject in subjects %}
        
        <div class="col-sm-3">
            <div class="card mb-3" style="border-color: transparent;">
                <div class="card-header"  style='height:4rem'>
                    <h5>{{subject.title}}</h5>
                </div>
                <a href="{% url 'edit_subject' subject.id %}">
                    <!-- <figure class="image is-4by3"> -->
                    <figure class="image is-16by9">
                        <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='rounded-2 img-fluid'>
                        <!-- <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image"  class='card-image-top' style='width:18rem; height: 10rem;'> -->
                    </figure>
                </a>
                    <div class="card-body">
                        <!-- <div class="media ml-1">
                                            <p class="title is-6" style="height:10px">{{subject.title}}</p>
                                        </div> -->
                        <div class="row">
                            <div class="col"><strong>Created by: </strong>{{subject.author}}</div>
                        </div>
                        <div class="row">
                            <div class="col"><strong>Date posted: </strong>{{subject.date_posted}}</div>
                        </div>
                    <div class="row">
                        <div class="col">
                            <strong>
                                Rating:
                            </strong> {{subject.av_rating}}
                            <div class="stars-outer">
                                <div class="stars-inner" style="width: {{subject.percent}}"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <strong>Transactions:</strong> {{subject.transactions}}
                        </div>
                    </div>

                </div>
            </div>
        </div>

    {% endfor %}

</div>

{% endif %}
    <!-- ===================================Pagination====================================== -->
    <div class="row m-5">
        <div class="col">
            {% if subjects.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if subjects.has_previous %}
                <li class="page-item">
                    <a href="?page={{subjects.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo;</a>
                </li>
                {% endif %}
                {% for i in subjects.paginator.page_range%}
                {% if subjects.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
    
                {% if subjects.has_next %}
                <li class="page-item">
                    <a href="?page={{subjects.next_page_number}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
            {%endif %}
        </div>
    </div>
    <!-- ==========================End of Pagination========================================== -->

</div>

{% endblock %}