{% extends "base.html" %}
{% block content %}

<div class="container">


        
    <div class="row m-5">
      
        <form action="{% url 'transactions' %}" class="form-inline">
            <strong>Сортировать</strong>
            <div class="col-4">
        <input type="radio" name="sort" value="title" id="sort" checked> По названию
  
        <input type="radio" name="sort" value="buyer" id="sort"> По покупателю

        <input type="radio" name="sort" value="date" id="sort"> По дате покупки
      
        </div>
        <div class="col-3">
        <input type="submit" value="Сортировать" class="btn btn-outline-dark btn-block">
        </div>
        </form>
       
        <div class="col-2"><a href="{% url 'GeneratePDF' %}" target='_blank' style="text-decoration: none">
                <input type="submit" value="Печать списка" class="btn btn-outline-dark btn-block">
            </a>
        </div>
    
    </div>


<div class="row m-5">
    <div class="col">
        {% for transaction in my_transactions %}
        <div class="row pt-3 border-bottom">
            <div class="col-4 fst-italic">{{transaction.course.title}}</div>
            <div class="col-2 fst-italic">{{transaction.buyer}}</div>
            <div class="col-2 fst-italic ">{{transaction.date_bought}}</div>
            <div class="col-2 fst-italic"> {{transaction.amount}}</div>
        </div>
        {% endfor %}
    </div>
</div>
 

</div>          
</div>        



{% endblock %}