{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">

<form action="{% url 'upload_multiple_files' subject.id%}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-row mt-1 mb-1">
        <div class="col-5">
            <label for="multiple_file">
                <strong>
                    Загрузите ваши видеофайлы mp4 размером до 500Mb:
                </strong>
            </label>
        </div>
        <div class="col-4">
            <input type="file" multiple class="form-control" id="multiple_files" name="multiple_files" required>
        </div>
    </div>

    <div class="form-row mb-3">
        <div class="col-5"></div>
        <div class="col-4">
            <input type="submit" value="Загрузить" class='btn btn-block btn-outline-dark'>
        </div>
    </div>
  
</form>

{{subject.title}} <br>

{% for item in lectures %}
<div class="video_library" draggable="True" mb-2>
{{item.video_file}}
</div>
{% endfor %}

</div>
{% endblock %}