{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row p-2">
        <div class="col">
            <p>
            <h3>
               Добро пожаловать в ваш Удаленный Университет, место где вы можете обмениваться знаниями и умениями с другими людьми

            </h3>
            </p>

            <p>
            <h3>
               Приглашаем вас стать нашими лекторами и зарабатывать на своих знаниях и умениях.
            </h3>
            </p>

            <p>
            <h3>
                Ваши видеофайлы защищены системой DRM и предоставляются пользователям без возможности их сохранения на компьютер пользователя.
            </h3>
            </p>

        </div>
    </div>
    <div class="row">
        <!-- <img src={% static 'images/woman.jpg' %} alt="Image" width="350">
        <img src={% static 'images/handson.jpg' %} alt="Image" width="350">
        <img src={% static 'images/computer.jpg' %} alt="Image" width="350">
        <img src={% static 'images/shop.jpg' %} alt="Image" width="350">
        <img src={% static 'images/sports.jpg' %} alt="Image" width="350">
        <img src={% static 'images/painting.jpg' %} alt="Image" width="350"> -->


        <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src={% static 'images/woman.jpg' %} alt="Image" width="350">
                </div>
                <div class="carousel-item">
                    <img src={% static 'images/handson.jpg' %} alt="Image" width="350">
                </div>
                <div class="carousel-item">
                <img src={% static 'images/computer.jpg' %} alt="Image" width="350">
                </div>
            </div>
        </div> -->
    
       
    </div>
</div>
{% endblock %}