{% extends 'base.html' %}

{% block content %}
<section class="section">
<div class="container">
<div class="row">
    <div class="col">
   
<h1>Bestselling products</h1>
<div class="row">
{% for subject in bestsellers %}
<div class="col-sm-3">
    <div class="card mb-3" style="border-color: transparent;">
        <div class="p-4">
            <a href="{% url 'subject' subject.subject.id %}">
                <figure class="image is-4by3">
                    <img src="{{subject.subject.thumbnail_file.url}}" alt="Placeholder image">
                </figure>
            </a>
            <a href="{% url 'pay_pal' subject.subject.id %}">
                <button type="button" name="button">
                    Purchase
                </button>
            </a><br>
            <div class="media">
                <p class="title is-6">{{subject.subject.title}}</p>
            </div>
            <div class="content">
                {{subject.subject.date_posted}}
            </div>
            <div class="div">
                Purchased {{subject.transactions}} times
            </div>
        </div>
    </div>

</div>
{% endfor %}
</div>
<h1>Latest products</h1>

<div class="row">
{% for subject in latest_subjects %}
<div class="col-sm-3">
    <div class="card mb-3" style="border-color: transparent;">
        <div class="p-4">
            <a href="{% url 'subject' subject.id %}">
                <figure class="image is-4by3">
                    <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image">
                </figure>
            </a>

            <a href="{% url 'pay_pal' subject.id %}">
                <button type="button" name="button">
                    Purchase
                </button>
            </a><br><br>
            <div class="media">
                <p class="title is-6">{{subject.title}}</p>
            </div>
            <div class="content">
                {{subject.date_posted}}
            </div>
        </div>
    </div>

</div>
{% endfor %}
</div>

</div>
    </div>
</div>
</section>
{% endblock %}