{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">

{% for subject in subjects %}

         <div class="col-sm-3">
            <div class="card mb-3" style="border-color: transparent;">
                <div class="p-4">
                    <a href="{% url 'subject' subject.id %}">
                        <figure class="image is-4by3">
                            <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image">
                        </figure>
                    </a>

                    <a href="{% url 'pay_pal' subject.id %}">
                        <button type="button" name="button">
                            Purchase
                        </button>
                    </a><br><br>
        
                    
                    <div class="media">
                        <p class="title is-6">{{subject.title}}</p>
                    </div>
                    <div class="content">
                        {{subject.date_posted}}
                    </div>
                   
                      
                    <div class="row m-3">
                        <div class="col-3">
                        <div class="stars-outer">
                        {% for average in subject.averagerating_set.all %}
                            Rating: {{average.av_rating}}
                            <div class="stars-inner" style="width: {{average.average}}"></div>   
                        {% endfor %}
                        </div>  
                        </div>
                        </div>
                </div>
            </div>
        
        </div>
{% endfor %}


    </div>
</div>

{% endblock %}