{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="container">
  
<div class="row">

    <!-- <div class="col-4 m-1"> -->
<div class="card_subject">
    <div class="card">

            <div class="card-header" style='min-height:5rem' >
            <h4>{{subject.title}}</h4>
            </div>

            <figure>
                <img src="{{subject.thumbnail_file.url}}" alt="Placeholder image" class='card-image-top'>
            </figure>
               

    <div class="card-body">
        <div class="row">
        <div class="col">
        <strong>Рейтинг: </strong>
         {{subject.av_rating}}
        <div class="stars-outer">
            <div class="stars-inner" style="width: {{subject.percent}}"></div>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="col">
        <strong>Покупки:</strong> ({{subject.transactions}})
        </div>
        </div>
        <div class="row"><div class="col"><strong>Автор: </strong>
            <a href="{% url 'author_page' subject.author.id %}">{{subject.author.first_name}} {{subject.author.last_name}}</a></div></div>
        <div class="row"><div class="col"><strong>Дата создания: </strong>{{subject.date_posted}}</div></div>

        <div class="row">
            <div class="col">
                <strong>Описание: </strong>
                <a href='#collapse-p' data-bs-toggle="collapse" data-target="#collapse-p">
                Ознакомиться
                </a>
                </div>
        </div>

            <!-- <div class="collapse show" id='collapse-p'> -->
            <div class="collapse" id='collapse-p'>
            <div class="row" style='height: fit-content'>
                <div class="col">
                {{subject.description}}
            </div>
            </div>
            </div>

            <div class="row">
            <div class="col">
                <strong>Предварительные знания: </strong>
                <a href='#collapse-pr' data-bs-toggle="collapse" data-target="#collapse-pr">
                    Ознакомиться
                </a>
                </div>
            </div>
            

            <div class="collapse" id='collapse-pr'>
                <div class="row" style='height: fit-content'>
                    <div class="col">
                    {{subject.prerequisite}}
                    </div>
            </div>
            </div>
        <div class="row"><div class="col"><strong>Длительность: </strong>{{subject.length}} мин. </div></div>
        <div class="row">
            {% if subject.discount_programs == True and discount_time.discount_on == True %}
            <div class="row">
                <div class="col">
                    <strong>Стоимость:</strong> {{subject.price.discount}} руб.
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col">
                    <strong>Стоимость:</strong> {{subject.price.regular}} руб.
                </div>
            </div>
            {% endif %}
        </div>
    

   
    <!-- ================================================================= -->
{% if request.user == subject.author  %}
    <div class="card-footer">
        <h5 class=”text-left”>Вы автор данного курса и не можете его приобрести.<h5>
    </div>
{% elif transaction.buyer == request.user and transaction.course == subject %}
    <div class="card-footer">
        <h5 class=”text-left”>Вы уже приобрели данный курс. Перейдите в раздел "Мои покупки"<h5>
    </div>
{% else %}

      
    <div class="card-footer">  
                <div class="col">
                    <div class="row mb-2">
        <!-- <a href="{% url 'pay_pal' subject.id %}" style="text-decoration:none"> -->
        <a href="{% url 'credit_card' subject.id %}" style="text-decoration:none">
            <!-- <button type="button" name="button" class='btn btn-info btn-block'> -->
            <button type="button" name="button" class='btn btn-sm btn-block btn-outline-dark'>
                Купить
            </button>
        </a>
                </div>

            {% if cart.user != request.user and cart.subject != subject %}
                    <div class="row">
                <a href="{% url 'create_cart_item' subject.id %}"style="text-decoration:none" >
                    <!-- <button type="button" name="button" class='btn btn-info btn-block'> -->
                    <button type="button" name="button" class='btn btn-sm btn-block btn-outline-dark'>
                        Добавить в корзину
                    </button>
                </a>
                </div>
            {% else %}
                    <div class="row">
                        <a href="{% url 'cart' %}" style="text-decoration:none" >
                            <!-- <button type="button" name="button" class='btn btn-info btn-block'> -->
                            <button type="button" name="button" class='btn btn-sm btn-block btn-outline-dark' >
                                Перейти в корзину
                            </button>
                        </a>
                    </div>
            {% endif %}
            </div>
    </div>  
{% endif %}
</div>
</div>
</div>
<!-- ===================================================================== -->

<div class="card_menu">
    <!-- <div class="col-7 m-1"> -->
        <div class="card">
        <div class="card-header"><h4>Содержание</h4></div>
        <!-- <div class="card-body"> -->
            <!-- <ul class="list-group list-group-flush"> -->
        
        {% for section in sections %}
        <div class="section_1">
        <h5 data-bs-toggle="collapse" data-bs-target='#section{{section.id}}'>Раздел {{section.enumerator}}: {{section.title}}. {{section.length}} мин.</h5>
        </div>
                {% for lecture in lectures %}
                    {% if lecture.section == section %}
                    <div id="section{{section.id}}" class='collapse'>
                    {% if lecture.free == False %}
                    <li class="list-group-item">{{lecture.title}} {{lecture.length}} min</li>
                    {% else %}
                    <li class="list-group-item">
                        <a href="{% url 'video' subject.id lecture.id %}" target="_blank">{{lecture.title}} {{lecture.length}} мин. </a>
                    </li>
                    {% endif %}
                    </div>
                    {% endif %}
                {% endfor%}               
            {% endfor %}
           
        </div>
</div>
</div>

<!-- ============================================Reviews========================================= -->
<div class="row mt-2 pl-2"> .
    <h3>Отзывы</h3>
</div>

<div class="row mt-1 mb-5">
<div class="col-11">
    {% for review in reviews %}
        <div class="row" style=" height: 6rem;">
            <div class="col-2 m-2 border-top">
                <strong>{{review.author}}</strong>
            </div>

            <div class="col-7 m-2 border-top">
            {{review.content}}
            </div>
            <div class="col-2 m-2 border-top">
                {{review.date_posted}}
            </div>
        </div>
    {% endfor %}
    
</div>
</div>


</div>



{% endblock %}