{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<body oncontextmenu="return false">
<head>
    <script>
        var vid, playbtn, seekslider;

        function initializePlayer() {
            //Set object references
            vid = document.getElementById("my_video");
            playbtn = document.getElementById("playpausebtn");
            seekslider = document.getElementById("seekslider");
            //Add event listeners
            playbtn.addEventListener("click", playPause, false);
            seekslider.addEventListener("change", vidSeek, false);
            vid.addEventListener("timeupdate", seektimeupdate, false);

        }
        window.onload = initializePlayer;

        function playPause() {
            if (vid.paused) {
                vid.play();
                playbtn.innerHTML = 'Pause';
            }
            else {
                vid.pause();
                playbtn.innerHTML = 'Play';
            }
        }

        function vidSeek() {
            var seekto = vid.duration*(seekslider.value/100);
            vid.currentTime = seekto;
        }

        function seektimeupdate() {
            var nt = vid.currentTime * (100 / vid.duration);
            seekslider.value = nt;
           }

    </script>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-10">
    <div class="card">
        <div class="card-header">
            <h4>{{the_video.title}} {{the_video.date_posted|naturaltime}} </h4>

        </div>
        
      
        <!-- <div id ="video_player_box"> -->
        <!-- <video oncontextmenu="return false;" width="320" height="240" controls controlsList="nodownload"> -->
        <video id ="my_video" controls>
            <source src="{{the_video.video_file.url}}" type="video/mp4" >
            <track kind='subtitles' srclang="en" label='English' default />
        </video>
        <div id='video_controls_bar'>
            <button id='playpausebtn'>Play</button>
            <input type="range" id="seekslider" min="0" max="100" value="0" step="1" style="width:500px">

        </div>
        
        
    </div>
    </div>
    </body>
<
{% endblock %}