{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <h3 class='text-center m-2'>УСЛОВИЯ ИСПОЛЬЗОВАНИЯ СЕРВИСА (ред 3 от 09.01.2023).</h3><br>
        
        <h5>1. Общие положения</h5>
        <p>
            Ruversity.com представляет собой ресурс, где физические и юридические лица, здесь и далее именуемые как
            Преподаватель или Преподаватели, размещают обучающие видео материалы, лекции, тесты, здесь и далее именуемые как
            Обучающие материалы.
            Дргие физические и юридические лица, здесь и далее именуемые как Слушатель или Слушатели, могут использовать
            размещенные на данном ресурсе Обучающие материалы с целью обучения, повышения квалификации, личностного роста и
            сертификации.
        </p>
        <p>
            Под Пользователями в настоящи Условиях понимаются любые физические и юридические лица, прошедшие регитрацию на
            ruversity.com.
        </p>
        
        <p> Обучающие материалы представляются на коммерческой основе или бесплатно в зависимости от условий, определённых
            Преподавателем.
        </p>
        <p>Ruversity.com предоставляет Слушателям пожизненный доступ к приобретенным Обучающим материалам при условии, что
            Слушатель не нарушает внутрение правила ruversity.com и законодательство РФ.
        </p>
        <p>Для пользования сервисом Слушатели и Преподаватели заводят личные учетные записи. Учетная запись пользователя може
            одновременно использоваться пользователем как для роли Слушателя, так и для роли Преподавателя.
        </p>
        <p>Пользовтели несут полную ответственность за свою учетную запись. Пользователи обязуются не передавать свои учетные
            данне третьим лицам и принимать все возможные необходимые меры для защиты своей учетной записи.
        </p>
        <p>
            Пользователи несут полную ответственность за любой вред, причинённый ruversity.com или третьим лицам в связи с
            неправомочным использованием их учетных записей.
        </p>
        Пользователи обязуются не размещать Обучающие материалы, посты, вопросы, ответы или изображения, нарушающие
        законодательство РФ или оскорбляющие достоинство других пользователей.
        </p>
        <p>
            Пользователи несут полную ответственность за любой вред, причинённый ruversity.com или третьим лицам в связи с
            нарушением условий, описанных в предыдущем параграфе.
        </p>
        
        <h5>2. Преподаватели</h5>
        <p>
            Преподаватели передают ruversity.com право предоставлять Слушателям пожизненный доступ к Обучающим материалам,
            созданным данным Преподавателем и приобретенным данным Слушателем, на условиях, описанных в параграфе 5 данного
            документа.
        
        <p>Преподаватель может размещать Обучающие материалы только при условии, что он является правообладателем данных
            Обучающих материалов, или право размещать данные Обучающие материалы было передано ему правообладателем данных
            обучающих материалов или лицом, уполномоченным сделать это в соответствии с законодательством РФ.
        </p>
        <p>Преподаватель может использовать зарегистрированные торговые знаки только при условии что он является
            правообладателем данного торгового знака, или право использовать данный торговый знак было передано ему
            правообладателем данного торгового знака или лицом, уполномоченным сделать это в соответствии с законодательством
            РФ.
        </p>
        <p>
            Не является нарушением допустимое добросовестное использование торговго знака в случае, если он используется для
            обозначения предмета Обучающих материалов.
        </p>
        
        <p>Преподаватель может удалить свою учетную запись в любое время. Однако, Обучающие материалы, созданные им, останутся
            доступными Слушателям, которые приобрели данные Обучающие материалы ранее. После удаления Преподавателем своей
            учетной записи ruversity.com утрачивает право продавать Обучающие материалы, созданные данным Преподавателем, новым
            пользователям за исключением случаев, оговариваемых в договоре на платное размещение.
        </p>
        <p>Администрация ruversity.ru не может размещать обучающие материалы, загруженные Преподавателями, на каких либо других
            площадках.
        </p>
        <p>Администрация ruversity.ru предоставляет Слушателям обучающие материалы, размещенные Преподавателями, только на
            условиях описанных в настоящих Условиях.
        </p>
        <p>
            После загрузки Обучающих материалов на сервер Преподаватель утрачивает доступ к ним. Все изменения и дополнения в
            Обучающие материалы вносятся Преподавателем по предварительной письменной заявке, направленной на
            79200711112@yandex.ru
        </p>
        <h5>3. Слушатели</h5>
        <p>Ruversity.com предоставляет Слушателям пожизненный доступ к Обучающим материалам на условиях, определяемых совместно
            Преподавателем, разместившим данный Обучающий материал, и администрацией ruversity.com.
        </p>
        <p>
            Слушатель может просматривать Обучающий материал, но не может скачать его на свои компьютер.
        </p>
        <p>Слушатели используют Обучающие материалы на свой страх и риск. Ruversity.com не несет никакой ответственности за
            негативные последствия, которые могут наступить в результате использования данных Обучающих материалов.
        <p>Слушатели обязуются не копировать, не продавать, не транслировать, не сдавать в аренду, не передавать на
            безвозмездной основе и не передавать каким-либо другим способом свое право просмотра приобретенных ими Обучающих
            материалов за исключением случаев, когда у них есть письменное разрешение от Ruversity.com на выполнение данных
            действий.
        
        </p>
        <h5>4. Споры</h5>
        <p>
            Если физическое или юридическое лицо подает жалобу, что Преподаватель, разместивший какой-либо Обующий материал, не
            имеет на это права, то такое лицо должно самостоятельно предоставить необходимые и достаточные доказательства,
            подтверждающие данный факт.
        
        </p>
        <p>Если физическое или юридическое лицо подает жалобу, что Преподаватель, незаконно использует торговый знак, то такое
            лицо должно самостоятельно предоставить необходимые и достаточные доказательства,
            подтверждающие данный факт.
        </p>
        <p>Если физическое или юридическое лицо подает жалобу, что Слушатель при использовании Обучающих материалов нарушает
            законодательство РФ, то такое лицо
            должно самостоятельно предоставить необходимые и достаточные доказательства,
            подтверждающие данный факт.
        </p>
        <p>
            Во всех случаях, описанных в параграфе 4, администрация ruversity.com оставляет за собой право изъять спорные
            Обучающие материлы из публичного доступа.
        </p>
        <p>Если по мнению администрации ruversity.com какие-либо Обучающие материалы, посты, вопросы, ответы или изображения не
            соответствуют законодательству РФ или оскорбляют других пользователей, администрация ruversity.com оставляет за
            собой право изъять такие Обучающие материалы, посты, вопросы, ответы, изображения из публичного доступа и
            заблокировать учетную запись пользователя, разместившего такие Обучающие материалы, посты, вопросы, ответы,
            изображения.
        </p>
        <p>До тех пор, пока решением уполномоченных органов не доказано обратное, администрация ruversity.com полагается на
            собственное суждение в оценке соответствия Обучающих материалов, постов, вопросов, ответов и изображений
            законодательству РФ и данной политике.
        
        </p>
        <p>Если физическое или юридическое лицо не согласно с позицией администрации ruversity.com в том, что касается оценки
            Обучающих материалов, постов, вопросов, ответов и изображений, то такое лицо должно самостоятельно предоставить
            необходимые и достаточные докуазательства своей позиции.
        </p>
        <h5>5. Стоимость и оплата.</h5>
        <p>Рекоммендованная Розничная Цена курса составляет 1490 руб.</p>
        <p>Преподаватель самостоятельно устанавливаем цену для своего курса.</p>
        <p>Если Преподаватель соглашается принимать участие в дисконтных программах ruversity.com, администрация сайта имеет
            право изменять цену курса на время проведения дисконтной акции. Продолжительность дисконтных акций не может
            превышать 10 дней в месяц.</p>
        <p>Преподаватель может изменть цену курса, а также отозвать или дать своё согласие на участие в дисконтных программах
            ruversity.com как до размещения курса на сервере ruversity.com, так и после размещения.</p>
        <p>
            Преподаватель может размещать Обучающие материалы бесплатно.
        </p>
        <p>
            Преподаватель получает 65% от стоимости курса.
        </p>
        <p>
            Деньги переводятся по реквизитам, указанным Преподавателем в своем личном кабинете, в течение 10 банковских дней с
            момента постуления денежных средств на расчетный счет ООО Ритейл. Денежные переводы осуществляются в рублях.
        </p>
        <h5>6. Ответственность.</h5>
        <p>Администрация Ruversity.com предпринимает все необходимые меры для обеспечения круглосуточного доступа пользовтелей к
            сервису. Время недоступности сервиса не должно превышать 1%.
        </p>
        <p>
            Администрация Ruversity.com не несет ответственности, если недоступность сервиса связана с действиями или
            бездействием третьих лиц.
        </p>
        
        <h5>7. Изменения условий.</h5>
        <p>Администрация Ruversity.com оставляет за собой право вносить изменения в данные условия в одностороннем порядке.
        </p>
        <p>
            Изменения вступают в силу с момента их опубликования на ruversity.com.
        </p>
        <p>
            Пользователи самостоятельно следят за изменениями, вносимыми в данные условия. В случае несогласия с данными
            условиями пользователю следует удалить свою учетную запись на ruversity.com
        </p>
        <p>
            Данная редакция условий вступает в действие 09.01.2023.
        </p>
           
          
        </div>
</div>
</div>

{% endblock%}